<div class="modal fade" id="BOOK_APPOINTMENT_MODAL">
  <div
    class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Book your Appointment</h2>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="modal-body">
        <form>
          <input type="hidden" name="docName" class="docName" />
          <div class="two_box flex-parent">
            <div class="two_box_one flex-child">
              <div class="two_box_header form-header">
                <p>Name:</p>
              </div>
              <div class="input_box">
                <input type="text" name="patientName" placeholder="Your name" />
              </div>
            </div>
            <div class="two_box_one flex-child">
              <div class="two_box_header form-header">
                <p>Contact Info:</p>
              </div>
              <div class="input_box slct_picker">
                <div class="input_box">
                  <input
                    type="text"
                    class="contact"
                    placeholder="Email or Phone Number"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="two_box flex-parent">
            <div class="two_box_on flex-child">
              <div class="two_box_header form-header">
                <p>Age:</p>
              </div>
              <div class="input_box">
                <input type="text" class="contact" placeholder="Age" />
              </div>
            </div>
            <div class="two_box_one flex-child">
              <div class="two_box_header form-header">
                <p>Booking Type:</p>
              </div>
              <div class="input_box slct_picker">
                <div class="form-selectpicker">
                  <select
                    class="selectpicker"
                    data-width="100%"
                    title="Select Booking Type"
                    required
                  >
                    <option value="Online">Online</option>
                    <option value="Face to Face"> Face to Face </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="two_box flex-parent">
            <div class="two_box_one flex-child">
              <div class="two_box_header form-header">
                <p>Date:</p>
              </div>
              <div class="input_box">
                <input
                  type="text"
                  id="meet_date"
                  name="meet_date"
                  placeholder="Select Date"
                />
              </div>
            </div>
            <div class="two_box_one flex-child">
              <div class="two_box_header form-header">
                <p>Time:</p>
              </div>
              <div class="input_box slct_picker">
                <div class="form-selectpicker">
                  <select
                    class="selectpicker"
                    data-width="100%"
                    title="Select Time"
                    id="selectTime"
                    data-size="3"
                    required
                  >
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="modal-body-submit submit">
          <button class="green-btn gotoResetPass">Proceed to Pay</button>
        </div>
      </div>

      <div class="modal-footer submit">
        <button type="button" class="red-btn" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
></script>
<script>
  $('input[name="meet_date"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: parseInt(moment().format('YYYY'), 10),
    maxYear: parseInt(moment().format('YYYY'), 10) + 1,
    autoUpdateInput: false,
    locale: {
      cancelLabel: 'Clear',
    },
  });

  $('input[name="meet_date"]').on('apply.daterangepicker', function (
    ev,
    picker
  ) {
    const val = picker.startDate.format('DD/MM/YYYY');
    $(this).val(val);
    let weekday = [
      'Sunday',
      'Monday',
      'Tuesday',
      'Wednesday',
      'Thursday',
      'Friday',
      'Saturday',
    ][new Date(picker.startDate.format('MM/DD/YYYY')).getDay()];
    console.log(weekday);
    $('#selectTime').empty();
    $('#selectTime').append(`<option value='10'>05:00 PM - 06:00 PM</option>`);
    $('#selectTime').append(`<option value='10'>05:00 PM - 06:00 PM</option>`);
    $('#selectTime').append(`<option value='10'>05:00 PM - 06:00 PM</option>`);
    $('#selectTime').append(`<option value='10'>05:00 PM - 06:00 PM</option>`);
    $('#selectTime').selectpicker('refresh');
  });

  $('input[name="meet_date"]').on('cancel.daterangepicker', function (
    ev,
    picker
  ) {
    $(this).val('');
  });
  $(document).on('click', '.bookAppointment', (e) => {
    const docID = $(e.target)[0].dataset.id;
    $('.docName').val(docID);
  });
</script>
