<div style="background-color: white;">
  <div class="navbarWrapper">
    <nav class="navbar navbar-expand-xl">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="logo" style="max-width: 130px;" />
      </a>
      <button
        class="navbar-toggler px-2"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="border: 2px solid black;"
      >
        <i class="fa fa-align-right"></i>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarNavAltMarkup"
      >
        <div></div>
      </div>
    </nav>
  </div>
</div>
