<div class="footerr_wrapper">
    <div class="footerr">
        <div class="footer_flex_child">
            <div class="flex_child_header">
                <p>FOLLOW US</p>
            </div>
            <div class="flex_child_info">
                <div class="fourIcons">
                    <a href="https://www.facebook.com/TelepsychiatryResearchInnovationNetwork/" class="fa fa-facebook" target="_blank"></a>
                    <a href="https://www.youtube.com/channel/UCsvna94VY8W7NDo15eELp8A" class="fa fa-youtube" target="_blank"></a>
                    <a href="https://www.instagram.com/trinlimited" class="fa fa-instagram" target="_blank"></a>
                    <a href="https://twitter.com/TRINLimited" class="fa fa-twitter" target="_blank"></a>
                </div>
            </div>

            <div class="flex_child_header pt-5">
                <p>NEWSLETTER</p>
            </div>
            <div class="flex_child_info">
                <div class="inputBox">
                    <input type="text" placeholder="Email address" />
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>

        <div class="footer_flex_child">
            <div class="flex_child_header">
                <p>OUR LOCATION</p>
            </div>
            <div class="flex_child_info pt-2">
                <div class="google_map_location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.0514513175517!2d90.39316890090615!3d23.745544584516182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b896706bb089%3A0xb56f55b074efcf06!2sRupayan%20Trade%20Center%2C%20114%20Kazi%20Nazrul%20Islam%20Ave%2C%20Dhaka%201205!5e0!3m2!1sen!2sbd!4v1585896370606!5m2!1sen!2sbd"
                        width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>

        <div class="footer_flex_child">
            <div class="flex_child_header">
                <p>CONTACT US</p>
            </div>
            <div class="flex_child_info">
                <div class="flex_single_child">
                    <div class="flex_single_child_icon">
                        <span class="fa fa-map-marker"> </span>
                    </div>
                    <div class="flex_single_child_info">
                        <p class="info_heading">Address</p>
                        <p class="info_details">
                            Rupayan Trade Center, 2nd Floor, Banglamotor, Dhaka-1215, Bangladesh
                        </p>
                    </div>
                </div>

                <div class="flex_single_child">
                    <div class="flex_single_child_icon">
                        <span class="fa fa-phone"></span>
                    </div>
                    <div class="flex_single_child_info">
                        <p class="info_heading">Phone</p>
                        <p class="info_details">
                            +8801552-525252
                        </p>
                    </div>
                </div>

                <div class="flex_single_child">
                    <div class="flex_single_child_icon">
                        <span class="fa fa-envelope-open"></span>
                    </div>
                    <div class="flex_single_child_info">
                        <p class="info_heading">Email</p>
                        <p class="info_details">
                            info@trin-innovation.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>