<div class="footerr-wrapper">
  <div class="footerr-divider"></div>
  <div class="footerr">
    <div class="footer_img text-center">
      <img src="/images/logo.png" alt="" />
    </div>

    <div class="footer_flex_wrapper">
      <div class="footer_about_us">
        <p class="heading">About Us</p>
        <p class="about">
          We ensure top quality evidence based mental health service at individual and institutional level, empower people and energize community, conduct impactful research and provide opportunity for global collaboration for better mental health care.
        </p>
      </div>
      <div class="footer_contact">
        <p class="heading">Contact</p>
        <div class="box">
          <div class="icon"><span class="fa fa-map-marker"> </span></div>
          <div class="info">
            <p>
              Rupayan Trade Center, Banglamotor Dhaka- 1215, Bangladesh
              
            </p>
          </div>
        </div>

        <div class="box">
          <div class="icon"><span class="fa fa-phone"></span></div>
          <div class="info">
            <p>+8801718-827138</p>
          </div>
        </div>

        <div class="box">
          <div class="icon"><span class="fa fa-envelope-open"></span></div>
          <div class="info">
            <p>tanjirsoron@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
