<div class="footerr_wrapper">
  <div class="footerr">
    <div class="footer_flex_child">
      <div class="flex_child_header">
        <p>FOLLOW US</p>
      </div>
      <div class="flex_child_info">
        <div class="fourIcons">
          <span class="fa fa-facebook"></span>
          <span class="fa fa-google-plus"></span>
          <span class="fa fa-instagram"></span>
          <span class="fa fa-linkedin"></span>
        </div>
      </div>

      <div class="flex_child_header pt-5">
        <p>NEWSLETTER</p>
      </div>
      <div class="flex_child_info">
        <div class="inputBox">
          <input type="text" placeholder="Email address" />
          <button>SUBSCRIBE</button>
        </div>
      </div>
    </div>

    <div class="footer_flex_child">
      <div class="flex_child_header">
        <p>OUR LOCATION</p>
      </div>
      <div class="flex_child_info pt-2">
        <div class="google_map_location">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.449752421326!2d90.39378560090584!3d23.731336084523274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8ef3976bbbd%3A0x1b3140066a1d7bb8!2sDepartment%20of%20Computer%20Science%20and%20Engineering%2C%20University%20of%20Dhaka%20and%20Department%20of%20Microbiology%2C%20University%20of%20Dhaka%2C%20Bangladesh.!5e0!3m2!1sen!2sbd!4v1584804773084!5m2!1sen!2sbd"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>
    </div>

    <div class="footer_flex_child">
      <div class="flex_child_header">
        <p>CONTACT US</p>
      </div>
      <div class="flex_child_info">
        <div class="flex_single_child">
          <div class="flex_single_child_icon">
            <span class="fa fa-map-marker"> </span>
          </div>
          <div class="flex_single_child_info">
            <p class="info_heading">Address</p>
            <p class="info_details">
              Rupayan Trade Center, Banglamotor, Dhaka- 1215, Bangladesh
            </p>
          </div>
        </div>

        <div class="flex_single_child">
          <div class="flex_single_child_icon">
            <span class="fa fa-phone"></span>
          </div>
          <div class="flex_single_child_info">
            <p class="info_heading">Phone</p>
            <p class="info_details">
              +8801718-827138
            </p>
          </div>
        </div>

        <div class="flex_single_child">
          <div class="flex_single_child_icon">
            <span class="fa fa-envelope-open"></span>
          </div>
          <div class="flex_single_child_info">
            <p class="info_heading">Email</p>
            <p class="info_details">
              tanjirsoron@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
