<div class="organizationSupport">
  <div class="container mb-5">
    <div class="organizationHeader">
      <p>Our Collaborations<span> </span></p>
    </div>
    <div class="organizations">
      <div class="org" onclick="gotoLink('https://www.nih.gov/')">
        <img src="/images/Logo_NIH.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.utoronto.ca/')">
        <img src="/images/UOT.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://ur.ac.rw/')">
        <img src="/images/collaborations/University_of_Rwanda_-_LOGO_B_RV.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.marquette.edu/')">
        <img src="/images/collaborations/marquette-university-logo-png-transparent.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.ed.ac.uk/')">
        <img src="/images/collaborations/University_of_Edinburgh_ceremonial_roundel.svg.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.uottawa.ca/en')">
        <img src="/images/collaborations/uottawa_ver_black.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.unil.ch/central/en/home.html')">
        <img src="/images/collaborations/logoUniversity-of-Lausanne-UNIL.png" alt="" />
      </div>

      <!-- its a devider between foreign and domestic organisations -->
      <div style="width: 100%; height: 2px;"></div>

      <div class="org" onclick="gotoLink('https://www.bacamh.org/')">
        <img src="/images/collaborations/logoBACAHM.jpg" alt="" />
      </div>

      <div class="org" onclick="gotoLink('http://bcps.org.bd/')">
        <img src="/images/collaborations/BCPS-Logo.jpg" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://du.ac.bd/')">
        <img src="/images/collaborations/1200px-Dhaka_University_logo.svg.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.bsmmu.edu.bd/')">
        <img src="/images/collaborations/bangabandhu-sheikh-mujib-medical-university-logo-1A87BA9E62-seeklogo.com.png"
          alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://nimhbd.com/')">
        <img src="/images/collaborations/NIMH.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('http://www.nddtrust.gov.bd/')">
        <img src="/images/collaborations/logo_NDD_Trust.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.who.int/')">
        <img src="/images/collaborations/who.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.sos-childrensvillages.org/where-we-help/asia/bangladesh/')">
        <img src="/images/collaborations/sos.png" alt="" />
      </div>
      <div class="org" onclick="gotoLink('https://www.pathfinder.org/')">
        <img src="/images/collaborations/path-finder.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>