<div class="modal fade" id="HOMEPAGE_BOOK_APPOINTMENT_MODAL">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Book your Appointment</h2>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <form id="book-form" action="/services/book" method="POST">
                    <div class="alert alert-danger" style="display: none;" id="alert-book">
                        hi
                    </div>
                    <div class="alert alert-success" style="display: none;" id="alert-success-book"></div>
                    <div class="container">
                        <div class="two_box flex-parent">
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Service You want</p>
                                </div>
                                <div class="input_box slct_picker">
                                    <div class="form-selectpicker">
                                        <select class="selectpicker" id="book-service" data-width="100%" title="Select service" name="service" required>
                      <option value="Psychiatric Consultation"
                        >Psychiatric Consultation</option
                      >
                      <option value="Psychology and Counselling"
                        >Psychology and Counselling</option
                      >
                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="two_box flex-parent">
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Your Name</p>
                                </div>
                                <div class="input_box">
                                    <input type="text" id="book-name" name="name" placeholder="Your name" />
                                </div>
                            </div>
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Email</p>
                                </div>
                                <div class="input_box slct_picker">
                                    <div class="input_box">
                                        <input type="text" id="book-contact" class="contact" name="contact" placeholder="Your email" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="two_box flex-parent">
                            <div class="two_box_on flex-child">
                                <div class="two_box_header form-header">
                                    <p>Phone Number</p>
                                </div>
                                <div class="input_box">
                                    <input type="text" id="phoneNumber" name="phoneNumber" class="contact" placeholder="Your phone number" />
                                </div>
                            </div>
                            <div class="two_box_on flex-child">
                                <div class="two_box_header form-header">
                                    <p>Age</p>
                                </div>
                                <div class="input_box">
                                    <input type="text" id="ageID" name="age" class="contact" placeholder="Your age" />
                                </div>
                            </div>
                        </div>

                        <div class="modal-body-submit submit">
                            <button id="book-submit-btn" class="green-btn gotoResetPass">
                Confirm
              </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer submit">
                <button type="button" class="red-btn" data-dismiss="modal">
          Close
        </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    function showAlert(text) {
        $('#alert-book').show();
        $('#alert-book').html(text);
    }

    function successBook(text) {
        $('#alert-book').hide();
        $('#alert-success-book').show();
        $('#alert-success-book').html(text);
    }

    function clearBook() {
        $('#book-service').val('');
        $('#book-name').val('');
        $('#book-contact').val('');
        $('#book-age').val('');
        $('#book-bookType').val('');
        $('#book-date').val('');
        $('#book-time').val('');
    }

    function formSubmitBook(data) {
        $.ajax({
            type: 'POST',
            url: '/services/book/emergency',
            data,
            success: (data) => {
                successBook(data.msg);
                setTimeout(() => {
                    location = '/';
                }, 4000);
            },
        });
    }

    $('#book-submit-btn').click((e) => {
        e.preventDefault();

        const service = $('#book-service').val();
        const name = $('#book-name').val();
        const email = $('#book-contact').val();
        const age = $('#ageID').val();
        const phoneNumber = $('#phoneNumber').val();
        let error = false;

        if (service == '') {
            error = true;
            showAlert('Enter the service you want');
        } else if (name == '') {
            error = true;
            showAlert('Enter your name');
        } else if (email == '') {
            error = true;
            showAlert('Enter your email');
        } else if (age == '') {
            error = true;
            showAlert('Enter your age');
        } else if (phoneNumber == '') {
            error = true;
            showAlert('Enter your phone number');
        } else {
            const data = {
                service,
                name,
                email,
                age,
                phoneNumber,
            };
            console.log(data);
            if (!error) {
                $('#alert-book').hide();
                formSubmitBook(data);
            }
        }
    });

    $('input[name="date"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: parseInt(moment().format('YYYY'), 10),
        maxYear: parseInt(moment().format('YYYY'), 10) + 1,
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear',
        },
    });

    $('input[name="date"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
    });

    $('input[name="date"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
</script>