<nav class="navbar navbar-expand-lg container">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" alt="logo" style="max-width: 130px;" />
  </a>
  <button
    class="navbar-toggler p-2"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="border: 2px solid black"
  >
    <i class="fa fa-align-right"></i>
  </button>

  <div
    class="collapse navbar-collapse  justify-content-between"
    id="navbarNavAltMarkup"
  >
    <div></div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/resources">Resources</a>
      <a class="nav-item nav-link" href="/innovations">Innovations</a>
      <a class="nav-item nav-link" href="/forum">Forum</a>
      <a class="nav-item nav-link" href="/events">Events</a>
      <a class="nav-item nav-link" href="/aboutUs">About us</a>
      <a class="nav-item nav-link" href="#">Login</a>
    </div>
  </div>
</nav>
