<div style="width: 100%; background: white;">
    <div class="navbarWrapper">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="logo" style="max-width: 130px;" />
            </a>
            <button class="navbar-toggler p-2" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="border: 2px solid black">
      <i class="fa fa-align-right"></i>
    </button>

            <div class="collapse navbar-collapse  justify-content-between" id="navbarNavAltMarkup">
                <div></div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link"> Services </a>
                            <ul class="dropdown-menu dropdown-content">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">
                                        <p>Clinical Services</p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="/services/consultation">
                                                <p> Psychiatric Consultations</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/psychoTherapy">
                                                <p> Psycho Therapy & Counselling</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/services/assessment">
                                                <p> Mental Health Assessment</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <p> Corporate Health Care</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <a href="/services/special_services">
                  Special Services
                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href='#' class="nav-link">Researches</a>
                            <div class="dropdown-content">
                                <a href="/researches">Researches</a>
                                <a href="/innovations">Innovations</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a href='#' class="nav-link">Skill Development</a>
                            <div class="dropdown-content">
                                <a href="/events/workshop">Workshop</a>
                                <a href="/events/training">Training Session</a>
                                <a href="#">Awareness Building</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a href='#' class="nav-link">Collaboration</a>
                            <div class="dropdown-content">
                                <a href="#">TRIN Global Platform</a>
                                <a href="#">Our Global Team</a>
                                <a href="#">Connecting Local</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                        <li class="nav-item" id="profile" style="display: none;"><a id="profile_link" class="nav-link" href="">My Profile</a></li>
                        <li class="nav-item" id="logout" style="display: none;"><a class="nav-link" href="/auth/logout">Sign Out</a></li>
                        <li class="nav-item" id="login"><a class="nav-link" href="/auth/login">Login    </a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script>
    $.get('/getUser', (data) => {
        if (data) {
            const profileLink = '/auth/user/profile/' + data._id
            console.log(data._id)
            $('#profile').show()
            $('#profile_link').attr('href', profileLink)
            $('#logout').show()
            $('#login').hide()
        }
    });
</script>