<div class="custom_pagination">
  <div class="myPagination">
    <a href="#" class="arrow">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">...</a>
    <a href="#">41</a>
    <a href="#" class="active">42</a>
    <a href="#">43</a>
    <a href="#">...</a>
    <a href="#">121</a>
    <a href="#">122</a>
    <a href="#" class="arrow">&raquo;</a>
  </div>
</div>
