<div class="modal fade" id="SELECT_CATEGORY_MODAL">
  <div
    class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Register User</h2>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="modal-body">
        <div class="SELECT_CATEGORY_MODAL_wrapper">
          <p class="modalBodyHeader">Select Category for Registration</p>
          <form>
            <label class="container"
              >General User
              <input type="checkbox" checked="checked" id="gen" value="gen" />
              <span class="checkmark"></span>
            </label>

            <label class="container"
              >Expert User
              <input type="checkbox" id="exp" value="exp" />
              <span class="checkmark"></span>
            </label>

            <label class="container"
              >Organization
              <input type="checkbox" id="org" value="org" />
              <span class="checkmark"></span>
            </label>
          </form>
        </div>
      </div>

      <div class="modal-footer submit">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="red-btn" id="continue-btn">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function() {
    $('input:checkbox').click(function() {
      $('input:checkbox')
        .not(this)
        .prop('checked', false);
    });

    $('#continue-btn').click(e => {
      const gen = $('#gen').is(':checked');
      const exp = $('#exp').is(':checked');
      const org = $('#org').is(':checked');

      if (gen) {
        console.log('gen');
        window.location = '/auth/register/new/gen';
      } else if (exp) {
        console.log('exp');
        window.location = '/auth/register/new/exp';
      } else if (org) {
        console.log('org');
        window.location = '/auth/register/new/org';
      }
    });
  });
</script>
