<div class="modal fade" id="FORGET_PASSWORD_MODAL">
  <div
    class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Forget Password</h2>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="alert alert-warning alert-dismissible fade show" role="alert" id="errorMsgForgotPass"
        style="display: none;">
        <p id="receivedErrMsg"> error</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert" id="successMsgForgotPass"
        style="display: none;">
        <p id="receivedSuccessMsg"> success</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="inputField">
          <div class="inputField_label">
            <p>Email :</p>
          </div>
          <div class="inputField_textbox">
            <input type="text" name="email" id="emailForgotPass" placeholder="Email Address" />
          </div>
        </div>

        <div class="modal-body-submit submit">
          <button class="green-btn gotoResetPass" type="button" onclick="forgotPassReq()">Send</button>
        </div>
      </div>

      <div class="modal-footer submit">
        <button type="button" class="red-btn" data-dismiss="modal" id="forgotPassClose">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function forgotPassReq(){
    let email = $('#emailForgotPass').val().trim()
    if (email == '') {
      alert('Please provide your email address')
    }
    else {
      console.log({email});
      
      $.ajax({
        type: "POST",
        url: '/auth/forgotPass',
        data: {
          email: email
        },
        success: (data) => {
          console.log(data)
          if (data.error) {
            $('#errorMsgForgotPass').css("display", "block")
            $('#receivedErrMsg').html(data.error)
            // $('html, body').animate({
            //   scrollTop: $(".response-msg").offset().top - 100
            // }, 200);
          }
          else if (data.success) {
            $('#successMsgForgotPass').css("display", "block")
            $('#receivedSuccessMsg').html(data.success)
            // $('html, body').animate({
            //   scrollTop: $(".response-msg").offset().top - 100
            // }, 200);
          }

        }
      });
    }
  }
</script>