<div class="modal fade" id="SELECT_CATEGORY_MODAL">
  <div
    class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Register User</h2>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="modal-body">
        <div class="SELECT_CATEGORY_MODAL_wrapper">
          <div class="users">
            <div class="general_expert">
              <div
                class="flex-user text-center p-3 clinical-color"
                id="general_user"
              >
                <p><span>General</span><br /><span>User</span></p>
              </div>
              <div
                class="flex-user text-center p-3 clinical-color"
                id="expert_user"
              >
                <p><span>Expert</span><br /><span>User</span></p>
              </div>
            </div>

            <div
              class="org_user  text-center p-5 clinical-color"
              id="organizations"
            >
              <p>Organizations</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer submit">
        <button type="button" class="red-btn" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('general_user').addEventListener('click', e => {
    console.log('hi');
    window.location = '/auth/register/new/gen';
  });
  document.getElementById('expert_user').addEventListener('click', e => {
    window.location = '/auth/register/new/exp';
  });
  document.getElementById('organizations').addEventListener('click', e => {
    window.location = '/auth/register/new/org';
  });
</script>
