<div class="modal fade" id="FORGET_PASSWORD_MODAL">
  <div
    class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Forget Password</h2>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="modal-body">
        <div class="inputField">
          <div class="inputField_label">
            <p>Email :</p>
          </div>
          <div class="inputField_textbox">
            <input type="text" name="email" placeholder="Email Address" />
          </div>
        </div>

        <div class="modal-body-submit submit">
          <button class="green-btn gotoResetPass">Send</button>
        </div>
      </div>

      <div class="modal-footer submit">
        <button type="button" class="red-btn" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
