@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  display: inline-block;
}

p {
  margin: 0px;
  padding: 0px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: black;
}

h1 {
  margin: 0px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  padding: 0px 0.8rem 0px 0.5rem;
}

.bootstrap-select .dropdown-menu .inner {
  width: 100%;
}

.bootstrap-select .btn-light {
  color: #212529;
  background-color: white;
  border-color: black;
}

.bootstrap-select .btn {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 0.25em;
  border: 1px solid black;
  background: white;
  color: rgba(0, 0, 0, 0.8);
}

.bootstrap-select .btn:hover, .bootstrap-select .btn:focus, .bootstrap-select .btn:active {
  background: white;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: white;
  border-color: black;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: thin dotted transparent;
  outline: 0px auto transparent !important;
  outline-offset: 0px;
}

.dropdown-item {
  font-size: 1rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #ccc9c9;
}

body {
  font-family: "Roboto", sans-serif;
  color: #272727;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272727;
  outline: none;
}

a:hover {
  outline: none;
  text-decoration: none;
  color: #272727;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: none;
}

.loader .img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

button:focus {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

button:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
       -o-transform: translateY(3px);
          transform: translateY(3px);
}

.bs-placeholder .filter-option-inner-inner {
  color: gray;
}

.header {
  padding-bottom: 18px;
  border-bottom: 1px solid #eaeaea;
}

.top-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
  padding-top: 5px;
  margin: 0 auto;
}

@media (max-width: 805px) {
  .top-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top-nav .logo {
  padding-top: 10px;
}

.top-nav .logo img {
  max-height: 120px;
  cursor: pointer;
}

.top-nav nav {
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 650px) {
  .top-nav nav {
    padding-top: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0px;
  }
}

@media (min-width: 805px) {
  .top-nav nav {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.top-nav nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 650px) {
  .top-nav nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-nav nav ul li {
  font-size: 1.2rem;
  padding: 0 25px;
  font-weight: 700;
  background: transparent;
  border-bottom: 1px solid transparent;
}

@media (max-width: 650px) {
  .top-nav nav ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    background: #343a40;
    color: white;
    border-bottom: 1px solid white;
    letter-spacing: 1px;
  }
}

.top-nav nav ul li a {
  position: relative;
  padding: 10px;
}

@media (max-width: 650px) {
  .top-nav nav ul li a {
    color: white;
  }
}

.top-nav nav ul li a::after {
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  bottom: -1px;
  background: #10a7c2;
  width: 0%;
  -webkit-transition: width 0.65s;
  -o-transition: width 0.65s;
  transition: width 0.65s;
}

@media (max-width: 650px) {
  .top-nav nav ul li a::after {
    background: transparent;
  }
}

.top-nav nav ul li a:hover::after {
  content: '';
  position: absolute;
  display: block;
  height: 5px;
  bottom: -1px;
  background: #10a7c2;
  width: 100%;
}

@media (max-width: 650px) {
  .top-nav nav ul li a:hover::after {
    background: transparent;
  }
}

.headerBars {
  display: none;
  text-align: right;
  margin-bottom: 2px;
}

.headerBars i {
  font-size: 30px;
  padding: 10px 12px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  background: #343a40;
}

@media (max-width: 650px) {
  .headerBars {
    display: block;
  }
}

.top-nav nav ul.hideContent {
  display: none;
}

.top-nav {
  width: 88%;
}

@media (max-width: 805px) {
  .top-nav {
    width: 98%;
  }
}

.whole_wrapper {
  background: #f6f6f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.forum {
  width: 75%;
  margin: 0 auto;
  min-height: 100vh;
  color: #3b372f;
  padding: 10px;
  padding-top: 35px;
  font-family: 'Merriweather', serif;
}

@media (max-width: 1500px) {
  .forum {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .forum {
    width: 98%;
  }
}

.addForum {
  -webkit-box-shadow: rgba(75, 74, 74, 0.8) 0px 2px 7px, inset rgba(117, 115, 115, 0.15) 0px -5px 10px;
          box-shadow: rgba(75, 74, 74, 0.8) 0px 2px 7px, inset rgba(117, 115, 115, 0.15) 0px -5px 10px;
  padding: 22px 0px;
  text-align: center;
  border: 1px solid #bdb9b9;
  background: #f6f6f4;
}

.addForum__header p {
  font-size: 2.5rem;
}

.addForum__newDiscussion {
  padding: 0.7rem;
}

.addForum__newDiscussion button {
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  border-radius: 40px;
  background-color: #d3368a;
  border: 2px solid #d3368a;
  cursor: pointer;
  padding: 10px 25px;
  font-weight: 700;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 7px #a7a5a5;
          box-shadow: 0px 0px 7px #a7a5a5;
}

.Discussions__heading {
  border-bottom: 2px solid gray;
  padding: 70px 0 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .Discussions__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Discussions__heading_header {
  font-size: 3.1rem;
}

@media (max-width: 500px) {
  .Discussions__heading_header {
    font-size: 2.5rem;
  }
}

.Discussions__heading_order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .Discussions__heading_order {
    width: 50%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}

.Discussions__searching {
  padding: 25px 0;
}

.Discussions__searching form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Discussions__searching .Discussions__searching_searchbox {
  width: 30%;
}

@media (max-width: 1000px) {
  .Discussions__searching .Discussions__searching_searchbox {
    width: 60%;
  }
}

.Discussions__searching .Discussions__searching_searchbox input[type='text'] {
  padding: 9px;
  width: 100%;
}

.Discussions__searching .Discussions__searching_searchBtn input[type='submit'] {
  padding: 5px 30px;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: #13ce66;
}

.bootstrap-select .btn {
  background: transparent;
  color: black;
}

.bs-placeholder .filter-option-inner-inner {
  color: black;
}

.MAINforumsss {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 0;
}

@media (max-width: 1000px) {
  .MAINforumsss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.allCatogory {
  min-height: 50vh;
  width: 25%;
  margin-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1000px) {
  .allCatogory {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.allCatogory .category {
  margin: 0 0 20px 20px;
  border: 1px solid #bdb9b9;
  border-radius: 5px;
  width: 100%;
}

@media (max-width: 1000px) {
  .allCatogory .category {
    width: 45%;
  }
}

@media (max-width: 650px) {
  .allCatogory .category {
    width: 100%;
  }
}

.allCatogory .category__name {
  font-size: 20px;
  font-weight: 700;
  background: #0b7199;
  padding: 20px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.allCatogory .category__option {
  padding: 5px 15px 2px 15px;
  max-height: 300px;
  overflow-y: scroll;
}

.allCatogory .category__option p {
  padding: 5px 0;
  border-bottom: 1px solid #bdb9b9;
  line-height: 1.6;
}

.allCatogory .category__option p i {
  padding-right: 10px;
}

.allCatogory .category__option p:last-child {
  border-bottom: 1px solid transparent;
}

.alldiscussions {
  min-height: 100vh;
  width: 75%;
}

@media (max-width: 1000px) {
  .alldiscussions {
    width: 100%;
  }
}

.alldiscussions .eachDiscussion {
  width: 95%;
  margin: auto;
  border: 1px solid #bdb9b9;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.alldiscussions .eachDiscussion .discussion__title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  text-decoration: none;
}

.alldiscussions .eachDiscussion .discussion__title p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.alldiscussions .eachDiscussion .discussion__title:hover {
  text-decoration: underline;
}

.alldiscussions .eachDiscussion .discussion__usernameTime {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.alldiscussions .eachDiscussion .discussion__usernameTime .discussion__username p {
  color: #554f42;
  font-size: 16px;
}

.alldiscussions .eachDiscussion .discussion__usernameTime .discussion__username p i {
  font-size: 20px;
  padding-right: 7px;
}

.alldiscussions .eachDiscussion .discussion__usernameTime .discussion__time {
  color: #554f42;
  font-size: 16px;
}

.alldiscussions .eachDiscussion .discussion__desc {
  color: #3f3d3d;
  font-size: 17px;
  padding-bottom: 20px;
  line-height: 1.6;
}

.alldiscussions .eachDiscussion .discussion__desc p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.alldiscussions .eachDiscussion .discussion__react {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.alldiscussions .eachDiscussion .discussion__react_love i {
  font-size: 30px;
  color: #f65944;
  text-shadow: 0 0 2px #000;
}

.alldiscussions .eachDiscussion .discussion__react_comment i {
  font-size: 30px;
  color: white;
  text-shadow: 0 0 4px #000;
}
