#HOMEPAGE_CONTACTUS_MODAL #alert {
  display: none;
}

#HOMEPAGE_CONTACTUS_MODAL .alert {
  text-align: center;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs {
  font-family: 'Merriweather', serif;
  padding: 30px 0 60px 0;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .container .wrapper {
  width: 85%;
  margin: auto;
}

@media (max-width: 1000px) {
  #HOMEPAGE_CONTACTUS_MODAL .contactUs .container .wrapper {
    width: 95%;
  }
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_header p {
  font-size: 45px;
  margin-bottom: 8px;
  color: #4d4f53;
  letter-spacing: 0.5px;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form p {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  padding-bottom: 5px;
  padding-left: 2px;
  letter-spacing: 0.6px;
  margin: 0px;
  color: #363636;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form input[type='text'],
#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form input[type='email'],
#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form textarea {
  width: 100%;
  padding: 0.6rem;
  margin: 5px 0px;
  border: 1px solid #a8a3a3;
  border-radius: 4px;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form input[type='text']:focus,
#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form input[type='email']:focus,
#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form textarea:focus {
  outline: none;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form .flex-parentt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 5px 0;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form .flex-parentt .flex-childd {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.5rem;
  width: 49%;
  margin-right: 0.5rem;
}

#HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form .flex-parentt .flex-childd:last-child {
  margin-right: 0rem;
}

@media (max-width: 900px) {
  #HOMEPAGE_CONTACTUS_MODAL .contactUs .contactUs_form form .flex-parentt .flex-childd {
    margin-right: 0rem;
    width: 100%;
  }
}

#HOMEPAGE_CONTACTUS_MODAL .submit {
  width: 100%;
  text-align: center;
  padding: 25px 0;
}

#HOMEPAGE_CONTACTUS_MODAL .submit #submit-btn {
  border: none;
  outline: none;
  background: #ef7c00;
  color: #fff;
  padding: 10px 22px;
  font-size: 24px;
  letter-spacing: 0.5px;
  border-radius: 4px;
}
