@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Thasadith:400,700|Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700|&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
*,
*:after,
*:before {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes fromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.divider {
  background: #002147;
  height: 60px;
  -webkit-box-shadow: 2px 4px 5px -2px gray;
          box-shadow: 2px 4px 5px -2px gray;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  display: inline-block;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: black;
}

h1 {
  margin: 0px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  padding: 0px 0.8rem 0px 0.5rem;
}

.bootstrap-select .dropdown-menu .inner {
  width: 100%;
}

.bootstrap-select .btn-light {
  color: #212529;
  background-color: white;
  border-color: #bdb9b9;
}

.bootstrap-select .btn {
  -webkit-transition: none;
  transition: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 0.25em;
  background: white;
  color: rgba(0, 0, 0, 0.8);
}

.bootstrap-select .btn:hover, .bootstrap-select .btn:focus, .bootstrap-select .btn:active {
  background: white;
  color: rgba(0, 0, 0, 0.8);
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: white;
  border-color: black;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: thin dotted transparent;
  outline: 0px auto transparent !important;
  outline-offset: 0px;
}

.dropdown-item {
  font-size: 1rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #ccc9c9;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #272727;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272727;
  outline: none;
}

a:hover {
  outline: none;
  text-decoration: none;
  color: #272727;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: none;
}

.loader .img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

button:focus {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.bs-placeholder .filter-option-inner-inner {
  color: gray;
}

.custom_pagination {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.custom_pagination .myPagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.custom_pagination .myPagination a {
  color: #212529;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0px;
}

.custom_pagination .myPagination a:not(:last-child) {
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.custom_pagination .myPagination a:last-child {
  border: 1px solid #dee2e6;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.custom_pagination .myPagination a:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.custom_pagination .myPagination a:hover:not(.active):not(.disabledBTN) {
  background-color: #c7c5c5;
}

.custom_pagination .myPagination .active {
  background: rgba(194, 43, 5, 0.925);
  color: white;
}

.custom_pagination .myPagination .arrow {
  font-size: 20px;
}

@media (max-width: 600px) {
  .custom_pagination {
    font-size: 15px;
  }
  .custom_pagination .myPagination a {
    padding: 12px;
  }
  .custom_pagination .myPagination .arrow {
    font-size: 15px;
  }
}

@media (max-width: 475px) {
  .custom_pagination {
    font-size: 15px;
  }
  .custom_pagination .myPagination a {
    padding: 8px;
  }
  .custom_pagination .myPagination .arrow {
    font-size: 15px;
  }
}

.disabledBTN {
  background: #bdbbbb;
  pointer-events: none;
}

p {
  margin: 0px 0px 0px;
}

.footerr_wrapper {
  padding-top: 0px;
  padding-bottom: 20px;
  background: #001c30;
  padding: 50px 0 20px;
  background-image: url(../images/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: auto 100%;
  font-family: 'Roboto', sans-serif;
}

.footerr_wrapper .footerr {
  padding: 10px;
  padding-bottom: 50px;
  width: 85%;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1500px) {
  .footerr_wrapper .footerr {
    width: 95%;
  }
}

@media (max-width: 1350px) {
  .footerr_wrapper .footerr {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .footerr_wrapper .footerr {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 750px) {
  .footerr_wrapper .footerr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footerr_wrapper .footerr .footer_flex_child {
  margin-bottom: 30px;
  width: 32%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1000px) {
  .footerr_wrapper .footerr .footer_flex_child {
    width: 48%;
  }
}

@media (max-width: 750px) {
  .footerr_wrapper .footerr .footer_flex_child {
    width: 90%;
  }
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_header {
  margin-bottom: 30px;
  margin-top: 10px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_header p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_header:after {
  position: absolute;
  content: '';
  display: block;
  height: 3.5px;
  width: 70px;
  background: #00adef;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_icon span {
  padding: 3px 10px 10px 10px;
  margin-top: 10px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_info {
  padding: 10px 5px 5px 5px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_info .info_heading {
  margin-bottom: 5px;
  font-weight: 600;
  position: relative;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_info .info_details {
  margin-bottom: 0px;
  color: #a3b7c6;
}

.fourIcons span {
  margin-right: 10px;
  padding: 8px;
  color: #00adef;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #00adef;
}

.fourIcons .fa-facebook,
.fourIcons .fa-linkedin {
  padding: 8px 12px;
}

.inputBox input {
  padding: 7.5px;
  width: 63%;
  margin: 0;
}

.inputBox button {
  padding: 10.5px;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: #13ce66;
  border-radius: 2px;
}

.google_map_location iframe {
  width: 85%;
  height: 200px;
}

p {
  margin-bottom: 8px;
}

#BOOK_APPOINTMENT_MODAL .input_boxes {
  padding: 20px 0;
}

#BOOK_APPOINTMENT_MODAL .input_boxes .one_box {
  padding: 5px 0;
}

#BOOK_APPOINTMENT_MODAL .input_boxes .one_box .box_header p {
  font-size: 1.5rem;
  padding-bottom: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#BOOK_APPOINTMENT_MODAL .input_boxes .one_box .box_header p span {
  font-size: 1rem;
  color: #8a5555;
}

#BOOK_APPOINTMENT_MODAL .input_boxes .one_box .input_box {
  width: 100%;
}

#BOOK_APPOINTMENT_MODAL .input_boxes .one_box .input_box textarea,
#BOOK_APPOINTMENT_MODAL .input_boxes .one_box .input_box input:not([type='file']) {
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid #bdb9b9;
  width: 100%;
}

#BOOK_APPOINTMENT_MODAL .flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5px 0;
}

#BOOK_APPOINTMENT_MODAL .flex-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.5rem;
  width: 49%;
  margin-right: 0.5rem;
}

#BOOK_APPOINTMENT_MODAL .flex-child:last-child {
  margin-right: 0rem;
}

@media (max-width: 900px) {
  #BOOK_APPOINTMENT_MODAL .flex-child {
    margin-right: 0rem;
    width: 100%;
  }
}

#BOOK_APPOINTMENT_MODAL .flex-child .form-header {
  margin-top: 8px;
}

#BOOK_APPOINTMENT_MODAL .flex-child .form-header p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#BOOK_APPOINTMENT_MODAL .flex-child input[type='text'],
#BOOK_APPOINTMENT_MODAL .flex-child input[type='email'],
#BOOK_APPOINTMENT_MODAL .flex-child textarea {
  width: 100%;
  padding: 0.6rem;
  margin: 5px 0px;
  border-radius: 4px;
  border: 1px solid #bdb9b9;
}

#BOOK_APPOINTMENT_MODAL .flex-child input[type='text']:focus,
#BOOK_APPOINTMENT_MODAL .flex-child input[type='email']:focus,
#BOOK_APPOINTMENT_MODAL .flex-child textarea:focus {
  outline: none;
}

#BOOK_APPOINTMENT_MODAL .submit {
  text-align: center;
  margin-top: 1rem;
}

#BOOK_APPOINTMENT_MODAL .submit button {
  padding: 5px 30px;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
}

#BOOK_APPOINTMENT_MODAL .green-btn {
  background: #13ce66;
}

#BOOK_APPOINTMENT_MODAL .red-btn {
  background: rgba(194, 43, 5, 0.925);
}

#BOOK_APPOINTMENT_MODAL .form-selectpicker {
  padding-top: 4.7px;
  width: 97%;
}

#BOOK_APPOINTMENT_MODAL .modal-footer.submit button {
  font-size: 20px;
  border-radius: 5px;
}

.ourMODAL .reply_box {
  padding: 5px 10px;
}

.ourMODAL .modal-body {
  min-height: 180px;
}

.ourMODAL .submit {
  margin-top: 0.5rem;
}

.ourMODAL .submit button {
  padding: 5px 30px;
}

.ourMODAL .modal-footer.submit button {
  font-size: 20px;
  border-radius: 5px;
}

.ourMODAL .green-btn {
  background: #13ce66;
}

.ourMODAL .red-btn {
  background: rgba(194, 43, 5, 0.925);
}

.ourMODAL textarea {
  width: 100%;
  padding: 0.6rem;
  margin: 5px 0px;
  border-radius: 4px;
  border: 1px solid #bdb9b9;
}

.ourMODAL textarea:focus {
  outline: none;
}

.ourMODAL .submit {
  text-align: center;
  margin-top: 1rem;
}

.ourMODAL .submit button {
  padding: 5px 30px;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
}

.ourMODAL .inputField {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
}

.ourMODAL .inputField .inputField_label {
  padding-left: 2px;
}

.ourMODAL .inputField .inputField_label p {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.ourMODAL .inputField .inputField_textbox input {
  width: 97%;
  padding: 0.6rem;
  margin: 4px 0px;
  border: 1px solid black;
  border-radius: 4px;
}

.ourMODAL .inputField .inputField_textbox input:focus {
  outline: none;
}

#alertF,
#alert {
  display: none;
}

::-moz-selection {
  background: #3396d1;
  color: #fff;
}

::selection {
  background: #3396d1;
  color: #fff;
}

.navbarWrapper {
  margin: auto;
  width: 90%;
  font-family: 'roboto', sans-serif;
}

@media (max-width: 1410px) {
  .navbarWrapper {
    width: 97%;
  }
}

.navbarWrapper .dropdown-menu {
  min-width: 10rem;
  padding: 0 0;
  margin: 0 0 0;
  color: #272727;
  background-color: #f1f1f1;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0rem;
}

.navbarWrapper .dropdown-submenu {
  position: relative;
}

.navbarWrapper .dropdown-submenu a::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.navbarWrapper .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
}

.navbarWrapper .dropdown-toggle::after {
  border: none !important;
  font: normal normal normal 25px/1 FontAwesome;
  content: '\f107' !important;
  vertical-align: 0;
  margin-right: 10px;
}

.navbarWrapper .nav-link,
.navbarWrapper .navbar-brand {
  cursor: pointer;
}

.navbarWrapper .nav-item {
  margin: 8px 12px;
}

@media (max-width: 1410px) {
  .navbarWrapper .nav-item {
    margin: 5px;
  }
}

.navbarWrapper .nav-link {
  padding: 0px;
}

.navbarWrapper .nav-link,
.navbarWrapper .dropdown-content a {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  line-height: 60px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  letter-spacing: 0.5px;
}

.navbarWrapper .dropdown-content a {
  line-height: 45px;
}

.navbarWrapper .nav-link:hover,
.navbarWrapper .dropdown-content a:hover {
  color: #00baff;
}

.navbarWrapper .nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 12px;
  left: 0;
  color: #00baff;
  background-color: #00baff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 1;
}

.navbarWrapper .nav-link:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.navbarWrapper .navbar {
  padding-bottom: 10px;
}

.navbarWrapper .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbarWrapper .extraLarge {
  min-width: 350px;
}

.navbarWrapper .dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.navbarWrapper .dropdown-content a:hover {
  background-color: #ddd;
}

.navbarWrapper .dropdown:hover .dropdown-content {
  display: block;
}

.navbarWrapper .submenuNavBar {
  background-color: #f1f1f1;
}

.card p {
  letter-spacing: 0.3px;
}

p {
  margin-bottom: 8px;
}

.twoButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.twoButtons .BookNow {
  background-color: #0de0fe;
  color: #fff;
}

.twoButtons button,
.bookDoctor__showMore button {
  color: #0de0fe;
  font-size: 17px;
  border: 2px solid #0de0fe;
  text-align: center;
  display: block;
  font-weight: 500;
  padding: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.twoButtons button:hover,
.bookDoctor__showMore button:hover {
  background-color: #0de0fe;
  color: #fff;
}

.bookDoctor__showMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.bookDoctor__showMore button {
  padding: 10px 20px;
  background: #0de0fe;
  color: white;
}

.checked {
  color: #f4c150;
}

.verified {
  color: #28a745;
  margin-left: 3px;
  font-weight: 900;
}

.ourDoctorsHeading {
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  margin-bottom: 30px;
}

.ourDoctorsHeading p {
  font-size: 40px;
  font-weight: 500;
  color: #2a2a2a;
  letter-spacing: 0.5px;
}

.searching {
  padding: 0 0 45px 0;
}

.searching form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searching .searchbox {
  width: 30%;
}

@media (max-width: 1000px) {
  .searching .searchbox {
    width: 60%;
  }
}

.searching .searchbox input[type='text'] {
  padding: 9px;
  width: 100%;
}

.searching .searchBtn input[type='submit'] {
  padding: 5px 30px;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: #13ce66;
}

.allResources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.allResources .item .card {
  width: 300px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 7px #a7a5a5;
          box-shadow: 0px 0px 7px #a7a5a5;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.cardName {
  font-size: 17px;
  font-weight: 500;
  color: #2e3842;
}

.cardDegree {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}

.card-text {
  color: #696666;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.aff,
.college {
  color: #696666;
}

.aff span,
.college span {
  color: #3d3c3c;
}

.college {
  padding-top: 5px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=ourDoctors.css.map */