<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link rel="stylesheet" href="/css/admin_add_doctor.css" />

    <title>Add Doctors | Telepsychiatry Research</title>
  </head>

  <body>
    <section class="admin_addDoctor_wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="my-3 divider"></div>
      <div class="createResources addDoctor">
        <div class="container">
          <div id="alert" class="alert alert-danger"></div>
          <div class="header addDoctor__header">
            <p id="submitResources">Add New Doctor</p>
          </div>
          <div class="input_boxes">
            <form id="form" action="/auth/register/new/exp" method="POST">
              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Name</p>
                    </div>
                    <input
                      type="text"
                      placeholder="Name"
                      class="name"
                      id="name"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Gender</p>
                    </div>
                    <div class="input_box slct_picker">
                      <div class="form-selectpicker">
                        <select
                          id="genderInput"
                          class="selectpicker"
                          data-width="100%"
                          title="Gender"
                          data-size="6"
                          name="gender"
                          required
                        >
                          <option value="Male">Male</option>
                          <option value="Female"> Female </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Designation</p>
                    </div>
                    <input
                      type="text"
                      placeholder="Designation"
                      class="name"
                      id="name"
                    />
                  </div>
                  <div class="input_div"></div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Expertize Area</p>
                    </div>
                    <input
                      type="text"
                      placeholder="Expert Area"
                      class="name"
                      id="name"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Institute</p>
                    </div>
                    <input
                      type="text"
                      placeholder="Institute"
                      class="institute"
                      id="institute"
                    />
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="two_box_header form-header">
                  <p>About Yourself</p>
                </div>
                <textarea
                  name=""
                  placeholder="Write about yourself"
                  id="about_me"
                  cols="30"
                  rows="5"
                  class="about_me"
                ></textarea>
              </div>

              <div class="two_box_one  flex-child">
                <div class="" id="education-section">
                  <div class="two_box_header form-header">
                    <p>Education</p>
                  </div>
                  <div>
                    <div class="education_input">
                      <div class="arrow_sign">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="edu_in">
                        <input
                          type="text"
                          name="institute"
                          placeholder="Institute"
                          id="institute"
                          class="institute"
                        />
                      </div>
                      <div class="edu_in">
                        <input
                          type="text"
                          name="degree"
                          placeholder="Degree"
                          id="degree"
                          class="degree"
                        />
                      </div>
                      <div class="edu_in">
                        <input
                          type="text"
                          name="datetimes"
                          placeholder="Years"
                          id="years"
                          class="years"
                        />
                      </div>
                      <div class="delete-btn">
                        <button class="delete delete-edu-class" id="delete-edu">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-edu" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="two_box_one skill flex-child">
                <div id="skill-section">
                  <div class="two_box_header  form-header">
                    <p>Services</p>
                  </div>
                  <div>
                    <div class="skill_input">
                      <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="skill_in">
                        <input
                          type="text"
                          placeholder="Services"
                          id="skill"
                          class="institute"
                        />
                      </div>
                      <div class="delete-btn">
                        <button
                          class="delete delete-skill-class"
                          id="delete-skill"
                        >
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-skill" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="two_box_one skill flex-child">
                <div class="" id="exp-section">
                  <div class="two_box_header form-header">
                    <p>Work and Experiences</p>
                  </div>
                  <div>
                    <div class="exp_input">
                      <div class="arrow_sign">
                        <i
                          class="fa fa-arrow-right"
                          style="margin-right: 20px;"
                        ></i>
                      </div>
                      <div class="work_in">
                        <input
                          type="text"
                          placeholder="Workplace or Experience"
                          id="workplace"
                          class="workplace"
                        />
                        <textarea
                          name="inDetails"
                          placeholder="Tell us about your work and experience"
                          id="more_on_workplace"
                          cols="30"
                          rows="5"
                          class="more_on_workplace"
                        ></textarea>
                      </div>
                      <div class="delete-btn">
                        <button class="delete delete-exp-class" id="delete-exp">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-exp" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="addDoctor__submit">
                <button id="sub-btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include('./partials/vendorsBottom')%>

  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
  ></script>
  <script>
    $('.add-field').click(e => {
      e.preventDefault();
    });
    $('.delete').click(e => {
      e.preventDefault();
    });
    $(document).on('click', 'button.delete', e => {
      e.preventDefault();
    });

    $('input[name="datetimes"]').daterangepicker({
      autoUpdateInput: false,
      timePicker: true,
      startDate: moment().startOf('hour'),
      endDate: moment()
        .startOf('hour')
        .add(32, 'hour'),
      locale: {
        cancelLabel: 'Clear'
      }
    });

    $('input[name="datetimes"]').on('apply.daterangepicker', function(
      ev,
      picker
    ) {
      $(this).val(
        picker.startDate.format('DD/MM/YYYY') +
          ' - ' +
          picker.endDate.format('DD/MM/YYYY')
      );
    });

    $('input[name="datetimes"]').on('cancel.daterangepicker', function(
      ev,
      picker
    ) {
      $(this).val('');
    });
  </script>
  <script>
    let edu = 1,
      skill = 1,
      exp = 1;

    $(document).on('click', 'input#app_years', function(e) {
      console.log('year');
      $(e.target).daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: 'Clear'
        }
      });
      $('input#app_years').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(
          picker.startDate.format('DD/MM/YYYY') +
            ' - ' +
            picker.endDate.format('DD/MM/YYYY')
        );
      });

      $('input#app_years').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
      });
    });
    $('#add-edu').click(e => {
      const edu_field = `<div class="education_input">
                     <div class="arrow_sign">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                        <div class="edu_in">
                            <input
                            type="text"
                            placeholder="Institute"
                            id="institute"
                            class="institute"
                            />
                        </div>
                        <div class="edu_in">
                            <input
                            type="text"
                            placeholder="Degree"
                            id="degree"
                            class="degree"
                            />
                        </div>
                        <div class="edu_in">
                            <input
                            type="text"
                            name="datetimes"
                            placeholder="Years"
                            id="years"
                            class="years"
                            />
                        </div>
                        <div class="delete-btn">
                            <button class="delete delete-edu-class" id="delete-edu">
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>`;
      edu++;
      $('#education-section').append(edu_field);
    });
    $(document).on('click', 'button.delete-edu-class i', e => {
      if (edu > 1) {
        edu--;
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    $('#add-skill').click(e => {
      const edu_field = `<div class="skill_input">
                    <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                            <div class="skill_in">
                                <input
                                type="text"
                                placeholder="Services"
                                id="skill"
                                class="institute"
                                />
                            </div>
                            <div class="delete-btn">
                                <button class="delete delete-skill-class" id="delete-skill">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>`;
      skill++;
      $('#skill-section').append(edu_field);
    });
    $(document).on('click', 'button.delete-skill-class i', e => {
      if (skill > 1) {
        skill--;
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    $('#add-exp').click(e => {
      const edu_field = `<div class="exp_input">
                    <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="work_in">
                        <input
                          type="text"
                          placeholder="Workplace or Experience"
                          id="workplace"
                          class="workplace"
                        />
                        <textarea
                          name="inDetails"
                          placeholder="Tell us about your work and experience"
                          id="more_on_workplace"
                          cols="30"
                          rows="5"
                          class="more_on_workplace"
                        ></textarea>
                      </div>
                      <div class="delete-btn">
                        <button class="delete delete-exp-class" id="delete-exp">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>`;
      exp++;
      $('#exp-section').append(edu_field);
    });
    $(document).on('click', 'button.delete-exp-class i', e => {
      if (exp > 1) {
        exp--;
        console.log(exp);
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    function showAlert(msg) {
      $('#alert').show();
      $('#alert').html(msg);
    }
  </script>

  <script>
    console.log($('.edu_in input'));
    $('.addDoctor__submit').on('click', e => {
      const eduInValue = $('.edu_in input');
      const eduArray = [];
      console.log(eduInValue);
      for (let i = 0; i < eduInValue.length / 3; i++) {
        const education = eduInValue[3 * i + 0].value;
        const degree = eduInValue[3 * i + 1].value;
        const years = eduInValue[3 * i + 2].value;

        eduArray.push({ education, degree, years });
      }
      console.log(eduArray);
    });
  </script>
</html>
