<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="/css/addDoctors.css" />

        <title>Add Doctors | Telepsychiatry Research</title>
</head>

<body>
    <section class="wrapper">
        <nav>
            <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
        <div class="createResources">
            <div id="alert" class="alert alert-danger"></div>
            <div class="header">
                <p id="submitResources">Add New Doctor</p>
                <hr>
            </div>
            <div class="input_boxes">
                <form id="form" action="/auth/register/new/exp" method="POST">

                    <div class="two_box_one flex-child">
                        <div class="side_by_side">
                            <div class="input_div">
                                <div class="two_box_header form-header">
                                    <p>Name</p>
                                </div>
                                <input type="text" placeholder="Name" class="name" id="name">
                            </div>
                            <div class="input_div">
                                <div class="two_box_header form-header">
                                    <p>Gender</p>
                                </div>
                                <select name="" id="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="two_box_one flex-child">
                        <div class="side_by_side">
                            <div class="input_div">
                                <div class="two_box_header form-header">
                                    <p>Designation</p>
                                </div>
                                <input type="text" placeholder="Designation" class="name" id="name">
                            </div>
                            <div class="input_div">

                            </div>
                        </div>
                    </div>

                    <div class="two_box_one flex-child">
                        <div class="side_by_side">
                            <div class="input_div">
                                <div class="two_box_header form-header">
                                    <p>Expert Area</p>
                                </div>
                                <input type="text" placeholder="Expert Area" class="name" id="name">
                            </div>
                            <div class="input_div">
                                <div class="two_box_header form-header">
                                    <p>Institute</p>
                                </div>
                                <input type="text" placeholder="Institute" class="institute" id="institute">
                            </div>
                        </div>
                    </div>

                    <div class="two_box_one flex-child">
                        <div class="two_box_header form-header">
                            <p>About Me</p>
                        </div>
                        <textarea name="" placeholder="Write about yourself" id="about_me" cols="30" rows="5" class="about_me"></textarea>
                    </div>

                    <div class="two_box_one  flex-child">
                        <div class="" id="education-section">
                            <div class="two_box_header form-header">
                                <p>Education</p>
                            </div>
                            <div>
                                <div class="education_input">
                                    <div class="edu_in"><input type="text" placeholder="Institute" id="institute" class="institute"></div>
                                    <div class="edu_in"><input type="text" placeholder="Degree" id="degree" class="degree"></div>
                                    <div class="edu_in"><input type="text" name="datetimes" placeholder="Years" id="years" class="years"></div>
                                    <div class="delete-btn">
                                        <button class="delete" id="delete-edu">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="add-edu" class="add-field">Add Field</button>
                    </div>

                    <div class="two_box_one skill flex-child">
                        <div id="skill-section">
                            <div class="two_box_header  form-header">
                                <p>Services</p>
                            </div>
                            <div>
                                <div class="skill_input">
                                    <div class="edu_in"><input type="text" placeholder="Services" id="skill" class="institute"></div>
                                    <div class="delete-btn">
                                        <button class="delete" id="delete-skill">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="add-skill" class="add-field">  Add Field</button>
                    </div>


                    <div class="two_box_one skill flex-child">
                        <div class="" id="exp-section">
                            <div class="two_box_header form-header">
                                <p>Work and Experiences</p>
                            </div>
                            <div>
                                <div class="exp_input">
                                    <div class="work_in"><input type="text" placeholder="Workplace" id="workplace" class="workplace">
                                        <textarea name="" placeholder="Tell us a little about the workplace" id="more_on_workplace" cols="30" rows="5" class="more_on_workplace"></textarea></div>
                                    <div class="delete-btn">
                                        <button class="delete" id="delete-exp">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="add-exp" class="add-field">  Add Field</button>
                    </div>

                    <div class="createResources__submit">
                        <button id="sub-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<%- include('./partials/vendorsBottom')%>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        $('.add-field').click((e) => {
            e.preventDefault()
        })
        $('.delete').click((e) => {
            e.preventDefault()
        })
        $(document).on('click', 'button.delete', (e) => {
            e.preventDefault()
        })

        $('input[name="datetimes"]').daterangepicker({
            autoUpdateInput: false,
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });

        $('input[name="datetimes"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
    </script>


    <script>
        let edu = 1,
            skill = 1,
            exp = 1;

        $(document).on('click', 'input#app_years', function(e) {
            console.log('year')
            $(e.target).daterangepicker({
                autoUpdateInput: false,
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    cancelLabel: 'Clear'
                }
            })
            $('input#app_years').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            $('input#app_years').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });
        $('#add-edu').click((e) => {
            const edu_field = `<div>
                                <div class="education_input">
                                    <div class="edu_in"><input type="text" placeholder="Institute" id="institute" class="institute"></div>
                                    <div class="edu_in"><input type="text" placeholder="Degree" id="degree" class="degree"></div>
                                    <div class="edu_in"><input type="text" placeholder="Years" id="app_years" name="datetimes" class="years"></div>
                                    <div class="delete-btn">
                                        <button class="delete" id="delete-edu">Delete</button>
                                    </div>
                                </div>
                          
                            </div>`
            edu++
            $('#education-section').append(edu_field)
        })
        $(document).on('click', 'button#delete-edu', (e) => {
            if (edu > 1) {
                edu--
                $(e.target.parentElement.parentElement).remove()
            }
        })

        $('#add-skill').click((e) => {
            const edu_field = `<div>
                            <div class="skill_input">
                                <div class="edu_in"><input type="text" placeholder="Skill" id="skill" class="institute"></div>
                                <div class="delete-btn">
                                        <button class="delete" id="delete-skill">Delete</button>
                                    </div>
                            </div>
                        </div>`
            skill++
            $('#skill-section').append(edu_field)
        })
        $(document).on('click', 'button#delete-skill', (e) => {
            if (skill > 1) {
                skill--
                $(e.target.parentElement.parentElement).remove()
            }
        })

        $('#add-exp').click((e) => {
            const edu_field = `<div class="exp_input">
                                    <div class="work_in"><input type="text" placeholder="Workplace" id="workplace" class="workplace">
                                        <textarea name="" placeholder="Tell us a little about the workplace" id="more_on_workplace" cols="30" rows="5" class="more_on_workplace"></textarea></div>
                                    <div class="delete-btn">
                                        <button class="delete" id="delete-exp">Delete</button>
                                    </div>
                                </div>`
            exp++
            $('#exp-section').append(edu_field)
        })
        $(document).on('click', 'button#delete-exp', (e) => {
            if (exp > 1) {
                exp--
                $(e.target.parentElement.parentElement).remove()
            }
        })

        function showAlert(msg) {
            $('#alert').show()
            $('#alert').html(msg)
        }
    </script>

</html>