<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/adminContactUs.css" />
    <title>Contact Us| Admin | Telepsychiatry Research</title>
  </head>

  <body>
    <div style="min-height: 100vh;">
      <header>
        <nav class="cnav">
          <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
      </header>

      <div class="adminContactUs">
        <div class="container">
          <div class="adminContactUsHeader">
            <p>Contact Us</p>
          </div>
          <div class="all_posts">
            <div class="singlePost">
              <div class="singlePost_name">
                <p>MD. Sakib Khan</p>
              </div>
              <div class="singlePost_email">
                <p>sakibkhan111296@gmail.com</p>
              </div>
              <div class="singlePost_post">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                  similique commodi quia voluptatum veniam optio deleniti.
                  Ratione commodi repudiandae maiores doloribus. Voluptate
                  dolore voluptatum explicabo amet autem delectus totam
                  similique quis adipisci voluptates in, sequi perferendis
                  ratione provident nostrum veritatis blanditiis ipsa magni
                  distinctio necessitatibus iusto pariatur officia nesciunt
                  quia. Illum, deleniti. Non quis nulla praesentium vitae ad
                  veritatis. Odit incidunt et perferendis? Quo ullam repellendus
                  nam dolorem eum quae nisi, exercitationem pariatur quibusdam,
                  itaque accusamus non! Nobis ipsa quidem, ab rerum amet itaque
                  nam velit consequuntur ad hic reprehenderit voluptates fuga
                  earum aperiam qui distinctio. Asperiores officiis ex
                  architecto.
                </p>
              </div>
              <div class="singlePost_reply">
                <button>Reply</button>
              </div>
            </div>
            <div class="singlePost">
              <div class="singlePost_name">
                <p>MD. Sakib Khan</p>
              </div>
              <div class="singlePost_email">
                <p>sakibkhan111296@gmail.com</p>
              </div>
              <div class="singlePost_post">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                  similique commodi quia voluptatum veniam optio deleniti.
                  Ratione commodi repudiandae maiores doloribus. Voluptate
                  dolore voluptatum explicabo amet autem delectus totam
                  similique quis adipisci voluptates in, sequi perferendis
                  ratione provident nostrum veritatis blanditiis ipsa magni
                  distinctio necessitatibus iusto pariatur officia nesciunt
                  quia. Illum, deleniti. Non quis nulla praesentium vitae ad
                  veritatis. Odit incidunt et perferendis? Quo ullam repellendus
                  nam dolorem eum quae nisi, exercitationem pariatur quibusdam,
                  itaque accusamus non! Nobis ipsa quidem, ab rerum amet itaque
                  nam velit consequuntur ad hic reprehenderit voluptates fuga
                  earum aperiam qui distinctio. Asperiores officiis ex
                  architecto.
                </p>
              </div>
            </div>
            <div class="singlePost">
              <div class="singlePost_name">
                <p>MD. Sakib Khan</p>
              </div>
              <div class="singlePost_email">
                <p>sakibkhan111296@gmail.com</p>
              </div>
              <div class="singlePost_post">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                  similique commodi quia voluptatum veniam optio deleniti.
                  Ratione commodi repudiandae maiores doloribus. Voluptate
                  dolore voluptatum explicabo amet autem delectus totam
                  similique quis adipisci voluptates in, sequi perferendis
                  ratione provident nostrum veritatis blanditiis ipsa magni
                  distinctio necessitatibus iusto pariatur officia nesciunt
                  quia. Illum, deleniti. Non quis nulla praesentium vitae ad
                  veritatis. Odit incidunt et perferendis? Quo ullam repellendus
                  nam dolorem eum quae nisi, exercitationem pariatur quibusdam,
                  itaque accusamus non! Nobis ipsa quidem, ab rerum amet itaque
                  nam velit consequuntur ad hic reprehenderit voluptates fuga
                  earum aperiam qui distinctio. Asperiores officiis ex
                  architecto.
                </p>
              </div>
            </div>
            <div class="singlePost">
              <div class="singlePost_name">
                <p>MD. Sakib Khan</p>
              </div>
              <div class="singlePost_email">
                <p>sakibkhan111296@gmail.com</p>
              </div>
              <div class="singlePost_post">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                  similique commodi quia voluptatum veniam optio deleniti.
                  Ratione commodi repudiandae maiores doloribus. Voluptate
                  dolore voluptatum explicabo amet autem delectus totam
                  similique quis adipisci voluptates in, sequi perferendis
                  ratione provident nostrum veritatis blanditiis ipsa magni
                  distinctio necessitatibus iusto pariatur officia nesciunt
                  quia. Illum, deleniti. Non quis nulla praesentium vitae ad
                  veritatis. Odit incidunt et perferendis? Quo ullam repellendus
                  nam dolorem eum quae nisi, exercitationem pariatur quibusdam,
                  itaque accusamus non! Nobis ipsa quidem, ab rerum amet itaque
                  nam velit consequuntur ad hic reprehenderit voluptates fuga
                  earum aperiam qui distinctio. Asperiores officiis ex
                  architecto.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer')%>
  </body>

  <%- include('./partials/vendorsBottom')%>
</html>
