<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/assessment.css" />

    <title>
      Assessment | Innovations | Telepsychiatry Research
    </title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="assessment_wrapper">
        <div class="blueDivider">
          <div class="smallText">
            <p><a href="/">Home</a> / Services</p>
          </div>
          <div class="bigText">
            <p>Mental Health and Wellbeing Assessment</p>
          </div>
        </div>

        <div class="twoBigSectionFlex">
          <div class="eachBigSection">
            <div class="ageRange">
              <div class="ageRangeHeading">
                <p>Test for different ages</p>
              </div>
              <div class="ageRangeOptions">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="customRadio1"
                    name="example1"
                    value="customEx"
                  />
                  <label class="custom-control-label" for="customRadio1"
                    >For children</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="customRadio11"
                    name="example1"
                    value="customEx"
                  />
                  <label class="custom-control-label" for="customRadio11"
                    >For young people</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="customRadio111"
                    name="example1"
                    value="customEx"
                  />
                  <label class="custom-control-label" for="customRadio111"
                    >For old people</label
                  >
                </div>
              </div>
            </div>
            <div class="nav-tests popularTests">
              <div class="nav-test-heading">
                <p>Popular tests</p>
              </div>
              <div class="nav-test-all">
                <ul>
                  <li>
                    <a href="#"> Major Depression Test </a>
                  </li>
                  <li>
                    <a href="#">
                      Persistent Depressive Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Psychotic Depression
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Bipolar Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Schizophrenia Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Anxiety Test
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="nav-tests paidTests">
              <div class="nav-test-heading">
                <p>Paid tests</p>
              </div>
              <div class="nav-test-all">
                <ul>
                  <li>
                    <a href="#"> Major Depression Test </a>
                  </li>
                  <li>
                    <a href="#">
                      Persistent Depressive Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Psychotic Depression
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Bipolar Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Schizophrenia Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Anxiety Test
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="eachBigSection">
            <div class="main-Heading">
              <p>Mental Health and Wellbeing Assessment</p>
            </div>
            <div class="someWritings">
              <p>
                Might you quality for the diagnosis of a mental health issue or
                mental illness? Is your relationship going well? What’s your
                mood like? What are the major drivers of your personality? These
                are all questions people ask themselves, but don’t always have
                clear answers or means of obtaining them. A psychology test or
                mental health quiz based upon scientific research may be of
                help. A psychology quiz — like the kind that we offer here — can
                help a person determine whether there is a concern in their life
                that should be addressed, whether it be through learning more
                about it or through professional help. Our psychology tests are
                free to take, and are largely based upon scientific studies or
                medical references in the area they focus on.
              </p>
              <p class="noted">
                <span> Please note: </span> Our psychology quizzes are not meant
                to diagnose, but rather to help you understand whether a certain
                mental health or relationship issue may be of concern to you.
                It’s sort of like asking for a second opinion from an objective
                friend (as long as you’ve been truthful in your answers).
              </p>
            </div>
            <div class="quiz_wrapper">
              <div class="quizPic">
                <img src="/images/as_res.jpg" alt="" />
              </div>
              <div class="quizInvite">
                <div class="quizWritting">
                  <p>
                    Are you suffering from a mental health disorder? Take 2
                    minutes break to participate in our mental health quizzes.
                    It is beneficial for further diagnosis and treatments.
                  </p>
                </div>
                <div class="quizBtn">
                  <button>Start Quiz</button>
                </div>
              </div>
            </div>
            <div class="mentalHealthTestDesc">
              <div class="mentalHealthTestDescHeading">
                <p>Mental Health Test for Children</p>
              </div>
              <div class="littleDesc">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
                  similique magnam corporis totam vero, neque et ullam
                  cupiditate temporibus minus distinctio at reiciendis. In vel
                  illo culpa ipsam assumenda, explicabo impedit inventore dolor.
                  Placeat nostrum et ab eum error aut qui soluta sed, facere
                  accusantium obcaecati, reiciendis odit nobis pariatur
                  voluptate consequuntur molestiae, laudantium hic debitis
                  maiores voluptates. Nulla dignissimos minima magnam maiores
                  facilis itaque adipisci. Inventore ab tempora odio aliquid,
                  iusto nobis. Iste odio beatae provident perspiciatis
                  reiciendis nihil fugiat atque laborum voluptatibus voluptatem
                  libero laudantium, architecto assumenda minus nostrum soluta
                  officia blanditiis! Enim adipisci ipsa atque ex eum.
                </p>
              </div>
            </div>
            <div class="mentalHealthTestDesc">
              <div class="mentalHealthTestDescHeading">
                <p>Mental Health Test for Young People</p>
              </div>
              <div class="littleDesc">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
                  similique magnam corporis totam vero, neque et ullam
                  cupiditate temporibus minus distinctio at reiciendis. In vel
                  illo culpa ipsam assumenda, explicabo impedit inventore dolor.
                  Placeat nostrum et ab eum error aut qui soluta sed, facere
                  accusantium obcaecati, reiciendis odit nobis pariatur
                  voluptate consequuntur molestiae, laudantium hic debitis
                  maiores voluptates. Nulla dignissimos minima magnam maiores
                  facilis itaque adipisci. Inventore ab tempora odio aliquid,
                  iusto nobis. Iste odio beatae provident perspiciatis
                  reiciendis nihil fugiat atque laborum voluptatibus voluptatem
                  libero laudantium, architecto assumenda minus nostrum soluta
                  officia blanditiis! Enim adipisci ipsa atque ex eum.
                </p>
              </div>
            </div>
            <div class="mentalHealthTestDesc">
              <div class="mentalHealthTestDescHeading">
                <p>Mental Health Test for Old People</p>
              </div>
              <div class="littleDesc">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
                  similique magnam corporis totam vero, neque et ullam
                  cupiditate temporibus minus distinctio at reiciendis. In vel
                  illo culpa ipsam assumenda, explicabo impedit inventore dolor.
                  Placeat nostrum et ab eum error aut qui soluta sed, facere
                  accusantium obcaecati, reiciendis odit nobis pariatur
                  voluptate consequuntur molestiae, laudantium hic debitis
                  maiores voluptates. Nulla dignissimos minima magnam maiores
                  facilis itaque adipisci. Inventore ab tempora odio aliquid,
                  iusto nobis. Iste odio beatae provident perspiciatis
                  reiciendis nihil fugiat atque laborum voluptatibus voluptatem
                  libero laudantium, architecto assumenda minus nostrum soluta
                  officia blanditiis! Enim adipisci ipsa atque ex eum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script>
    $(document).on('click', '.quizBtn button', e => {
      location = '/services/assessment/register';
    });
  </script>
</html>
