<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/assessment_reg.css" />

    <title>
      Assessment | Innovations | Telepsychiatry Research
    </title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="assessment_wrapper">
        <div class="blueDivider">
          <div class="smallText">
            <p><a href="#">Services</a> / Mental Health Assessment</p>
          </div>
          <div class="bigText">
            <p>Registration For Mental Health Test</p>
          </div>
        </div>

        <div class="twoBigSectionFlex">
          <div class="eachBigSection">
            <div class="ageRange">
              <div class="ageRangeHeading">
                <p>Test for different ages</p>
              </div>
              <div class="ageRangeOptions">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="customRadio1"
                    name="example1"
                    value="customEx"
                  />
                  <label class="custom-control-label" for="customRadio1"
                    >For children</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="customRadio11"
                    name="example1"
                    value="customEx"
                  />
                  <label class="custom-control-label" for="customRadio11"
                    >For young people</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="customRadio111"
                    name="example1"
                    value="customEx"
                  />
                  <label class="custom-control-label" for="customRadio111"
                    >For old people</label
                  >
                </div>
              </div>
            </div>
            <div class="nav-tests popularTests">
              <div class="nav-test-heading">
                <p>Popular tests</p>
              </div>
              <div class="nav-test-all">
                <ul>
                  <li>
                    <a href="#"> Major Depression Test </a>
                  </li>
                  <li>
                    <a href="#">
                      Persistent Depressive Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Psychotic Depression
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Bipolar Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Schizophrenia Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Anxiety Test
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="nav-tests paidTests">
              <div class="nav-test-heading">
                <p>Paid tests</p>
              </div>
              <div class="nav-test-all">
                <ul>
                  <li>
                    <a href="#"> Major Depression Test </a>
                  </li>
                  <li>
                    <a href="#">
                      Persistent Depressive Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Psychotic Depression
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Bipolar Disorder Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Schizophrenia Test
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Anxiety Test
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="eachBigSection">
            <div class="bigHeading">
              <p>Registration For Test</p>
            </div>
            <div class="inputSection">
              <div class="personalInfo infoBox">
                <div class="infoBox_heading">
                  <p>Personal Information</p>
                </div>
                <div class="inSecFlxPrnt">
                  <div class="form-group card-label">
                    <label>Name</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group card-label">
                    <label>Age</label>
                    <input class="form-control" type="text" />
                  </div>
                </div>
                <div class="inSecFlxPrnt">
                  <div class="form-group card-label">
                    <label>Contact Number</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group card-label">
                    <label>Email</label>
                    <input class="form-control" type="text" />
                  </div>
                </div>
              </div>
              <div class="DisorderInfo infoBox">
                <div class="infoBox_heading pt-2 pb-1">
                  <p>Select Test</p>
                </div>
                <div class="inSecFlxPrnt">
                  <div class="slctpkr">
                    <div class="selectBoxContainer" style="width: 100%;">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        data-live-search="true"
                        name="disorder name"
                        required
                      >
                        <option selected disabled> Select Disorder </option>
                        <option value="A"> A</option>
                        <option value="B"> B </option>
                        <option value="C"> C </option>
                      </select>
                    </div>
                  </div>
                  <div class="slctpkr">
                    <div
                      class="selectBoxContainer"
                      style="width: 100%;"
                      data-live-search="true"
                    >
                      <select
                        class="selectpicker"
                        data-live-search="true"
                        data-width="100%"
                        name="landTypex"
                        required
                      >
                        <option selected disabled> Select Test </option>
                        <option value="A"> A</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="submit-btn startQUIZ">
                <button>Start Quiz</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script>
    $(document).on('click', '.startQUIZ', e => {
      location = '/services/assessment/quiz';
    });
  </script>
</html>
