<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/vendorsTop')%>
  <link rel="stylesheet" href="/css/assessment.css" />

  <title>
    Assessment | Innovations | Telepsychiatry Research
  </title>
</head>

<body>
  <section class="wrapper">
    <nav>
      <%- include('./partials/navbar')%>
    </nav>
    <div class="assessment_wrapper">
      <div class="blueDivider">
        <div class="smallText">
          <p><a href="/">Home</a> / Services</p>
        </div>
        <div class="bigText">
          <p>Mental Health and Wellbeing Assessment</p>
        </div>
      </div>

      <div class="twoBigSectionFlex">
        <div class="eachBigSection">
          <div class="ageRange">
            <div class="ageRangeHeading">
              <p>Test for different ages</p>
            </div>
            <div class="ageRangeOptions">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="customEx" />
                <label class="custom-control-label" for="customRadio1">For children</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customRadio11" name="example1" value="customEx" />
                <label class="custom-control-label" for="customRadio11">For young people</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customRadio111" name="example1" value="customEx" />
                <label class="custom-control-label" for="customRadio111">For old people</label>
              </div>
            </div>
          </div>
          <div class="nav-tests popularTests">
            <div class="nav-test-heading">
              <p>Popular tests</p>
            </div>
            <div class="nav-test-all">
              <ul>
                <li>
                  <a href="#"> Major Depression Test </a>
                </li>
                <li>
                  <a href="#">
                    Persistent Depressive Disorder Test
                  </a>
                </li>
                <li>
                  <a href="#">
                    Psychotic Depression
                  </a>
                </li>
                <li>
                  <a href="#">
                    Bipolar Disorder Test
                  </a>
                </li>
                <li>
                  <a href="#">
                    Schizophrenia Test
                  </a>
                </li>
                <li>
                  <a href="#">
                    Anxiety Test
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="nav-tests paidTests">
            <div class="nav-test-heading">
              <p>Paid tests</p>
            </div>
            <div class="nav-test-all">
              <ul>
                <li>
                  <a href="#"> Major Depression Test </a>
                </li>
                <li>
                  <a href="#">
                    Persistent Depressive Disorder Test
                  </a>
                </li>
                <li>
                  <a href="#">
                    Psychotic Depression
                  </a>
                </li>
                <li>
                  <a href="#">
                    Bipolar Disorder Test
                  </a>
                </li>
                <li>
                  <a href="#">
                    Schizophrenia Test
                  </a>
                </li>
                <li>
                  <a href="#">
                    Anxiety Test
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="eachBigSection">
          <div class="main-Heading">
            <p>Mental Health and Wellbeing Assessment</p>
          </div>
          <div class="someWritings">
            <p style="font-weight: normal;">
              Interest to learn about your mental health, personality, intelligence and competencies. <br>
              Assess your mental health with us. <br>
              It can be very short and sometimes it takes more than an hour to complete. You can select which
              type of assessment you are interested and its details before initiating the test.
            </p>
          </div>
          <div class="quiz_wrapper">
            <div class="quizPic">
              <img src="/images/as_res.jpg" alt="" />
            </div>
            <div class="quizInvite">
              <div class="quizWritting">
                <p>
                  Are you suffering from a mental health disorder? Take 2
                  minutes break to participate in our mental health quizzes.
                  It is beneficial for further diagnosis and treatments.
                </p>
              </div>
              <div class="quizBtn">
                <button>Take a Test</button>
              </div>
            </div>
          </div>
          <div class="btn-section">
            <div class="btn">
              <button>Assessment for Child and Alolescent</button>
            </div>
            <div class="btn">
              <button>Assessment for Adult</button>
            </div>
            <div class="btn">
              <button>Assessment for Senior Citizens</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <%- include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>
<script>
  $(document).on('click', '.quizBtn button', e => {
    location = '/services/assessment/register';
  });
</script>

</html>