<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/consultaion.css" />
    <link
      rel="stylesheet"
      href="/vendors/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/vendors/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css"
    />
    <style>

      .card p {
        letter-spacing: 0.3px;
      }

      p {
        margin-bottom: 8px;
      }
      .twoButtons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 30px;
      }

      .twoButtons button {
        color: #0de0fe;
        font-size: 17px;
        border: 2px solid #0de0fe;
        text-align: center;
        display: block;
        font-weight: 500;
        padding: 6px;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,
                    background-color .15s ease-in-out,
                    border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
      }

      .twoButtons button:hover {
        background-color: #0de0fe;
        color: #fff;
      }
      .checked {
        color: #f4c150;
      }

      .verified {
        color: #28a745;
        margin-left: 3px;
        font-weight: 900;
      }
    </style>

    <title>Psychiatric Consultations | Telepsychiatry Research</title>
  </head>
  <body>
    <section>
      <header>
        <nav class="cnav">
          <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
      </header>
      <div class="container">
        <div class="owl-carousel owl-theme ">
          <% for(let i = 0 ; i < 9; i++) { %>
          <div class="item">
            <div
              class="m-1 mb-5 card"
              style="width: 300px;    padding: 10px  ;box-shadow: 0px 0px 7px rgb(167, 165, 165);
"
            >
              <img src="/images/doctor.jpg" class="card-img-top" />
              <div class="card-body">
                <h5
                  class="card-title"
                  style="display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        font-family: 'Poppins', sans-serif;
                        "
                >
                  <p
                    style="
                        font-size: 17px;
                        font-weight: 500;
                        color: #2E3842;"
                  >
                    MD. Sakib Khan <i class="fa fa-check-circle verified"></i>
                  </p>
                  <p
                    style="
                        font-size: 14px;
                        font-weight: 400;
                        color: #757575;"
                  >
                    MBBS, MD, DNB - Cardiology
                  </p>

                  <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>  <span style="font-size: 15px;font-family: 'Lato'">(38)</span>
                  </div>
                </h5>
                <p
                  class="card-text"
                  style="color:rgb(105, 102, 102);  
                        display: -webkit-box;
                        -webkit-line-clamp: 7;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;"
                >
                  <p style="color: #757575"><span class="fa fa-map-marker">&nbsp;&nbsp;</span>&nbsp;&nbsp;Mirpur, Dhaka</p>
                  <p style="color: #757575"> <span class="fa fa-money">&nbsp;</span> $100 - $400 </p>

                  <div class="twoButtons">
                    <div><button>View Profile</button></div>
                    <div><button style="background-color: #0de0fe;
        color: #fff;">Book Now</button></div>
                  </div>
                  
                </p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <%- include('./partials/footer')%>
  </body>

  <%- include('./partials/vendorsBottom')%>
  <script src="/vendors/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <script src="/vendors/OwlCarousel2-2.3.4/dist/jquery.mousewheel.min.js"></script>
  <script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      loop: true,
      margin: 10,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        750: {
          items: 1
        },
        960: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    });
    owl.on('mousewheel', '.owl-stage', function(e) {
      if (e.deltaY > 0) {
        owl.trigger('next.owl');
      } else {
        owl.trigger('prev.owl');
      }
      e.preventDefault();
    });
  </script>
</html>
