<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/vendorsTop %>
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login | Telepsychiatry Research</title>
  </head>

  <body>
    <% include ./partials/loader %> <% include ./partials/topNavbar %>
    <section class="login">
      <div class="login_wrapper">
        <div class="login_header">
          <h1>Reset Password</h1>
        </div>

        <div class="login_form">
          <div class="inputField">
            <div class="inputField_label">
              <p>Password:</p>
            </div>
            <div class="inputField_textbox">
              <input type="password" name="password" placeholder="password" />
            </div>
          </div>

          <div class="inputField">
            <div class="inputField_label">
              <p>Confirm password:</p>
            </div>
            <div class="inputField_textbox">
              <input
                type="password"
                name="confirmPassword"
                placeholder="Confirm password"
              />
            </div>
          </div>

          <div class="submit" style="padding: 10px 0;">
            <button class="green-btn">Submit</button>
          </div>
        </div>
      </div>
    </section>
  </body>

  <% include ./partials/vendorsBottom %>
  <script src="/js/login.js"></script>
</html>
