<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link rel="stylesheet" href="/css/createResources.css" />
        <title>Create new Resources | Telepsychiatry Research</title>
</head>

<body>
    <section class="wrapper">
        <nav>
            <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
        <div class="createResources">
            <div class="alert alert-danger" id="alert" role="alert"></div>
            <div class="createResources__header">
                <p id="submitResources">Submit new Research</p>
            </div>
            <div class="input_boxes">
                <form id="form" action="/researches/file" enctype="multipart/form-data" method="POST">
                    <input type="hidden" name="filename" id="filename" />
                    <div class="one_box">
                        <div class="box_header">
                            <p>Title:</p>
                        </div>
                        <div class="input_box">
                            <input type="text" name="title" id="title" placeholder="Title" />
                        </div>
                    </div>
                    <div class="one_box">
                        <div class="box_header">
                            <p>Breif Description:</p>
                        </div>
                        <div class="input_box">
                            <textarea name="BriefDesciption" id="BDeditor"> </textarea>
                        </div>
                    </div>
                    <div class="one_box">
                        <div class="box_header">
                            <p>Key Contact Persons</p>
                        </div>
                        <div class="input_box">
                            <textarea name="contactPerson" id="contactPerson" cols="30" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="one_box">
                        <div class="box_header">
                            <p>Collaboration: (If any)</p>
                        </div>
                        <div class="input_box">
                            <textarea name="collaboration" id="collaboration" cols="30" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="one_box">
                        <div class="box_header">
                            <p>Scope for collaboration:</p>
                        </div>
                        <div class="input_box">
                            <textarea name="collabScope" id="collabScope" cols="30" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="one_box">
                        <div class="box_header">
                            <p>Financial Support:</p>
                        </div>
                        <div class="input_box">
                            <textarea name="financialSupport" id="financialSupport" cols="30" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="one_box">
                        <div class="box_header">
                            <p>News and Publications:</p>
                        </div>
                        <div class="input_box">
                            <textarea name="newsAndPub" id="newsAndPub" cols="30" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="one_box">
                        <div class="box_header">
                            <p>Representational Photo</p>
                        </div>
                        <div class="input_box">
                            <input type="file" name="researchFile" id="repPhotoID" />
                        </div>
                    </div>

                    <div class="one_box">
                        <div class="box_header">
                            <p>Research Stage</p>
                        </div>
                        <div class="input_box slct_picker">
                            <div class="form-selectpicker">
                                <select id="researchStageID" class="selectpicker researchStage-selector" data-width="100%" title="Select research stage" data-size="6" name="researchStage">
                    <option value="ongoing">On going</option>
                    <option value="completed">Completed</option>
                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="createResources__submit">
                        <button id="form-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<%- include('./partials/vendorsBottom')%>
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
        $(document).on('click', '#AddRefID', (e) => {
            $('.all_ref').append(` 
      <div class="input_box">
        <input
          type="text"
          name="ref"
          id="ref"
          placeholder="Add References Here"
        />
        <input
          type="button"
          class="btn btn-dark dltRef"
          value="Delete"
        />
      </div>`);
        });
        $(document).on('click', '.dltRef', (e) => {
            let fld = e.target;
            while (true) {
                let val = $(fld)[0].className;
                if (val === 'input_box') break;
                fld = fld.parentElement;
            }
            const numOfChildren = fld.parentElement.children.length;
            if (numOfChildren > 1) {
                $(fld).remove();
            }
        });
    </script>
    <script>
        $(document).ready(() => {
            console.log('resource ready');
            let bdeditor;
            let Reditor;
            let Aeditor;
            ClassicEditor.create(document.querySelector('#BDeditor'))
                .then((editor) => {
                    bdeditor = editor;
                    console.log(editor);
                })
                .catch((error) => {
                    console.error(error);
                });

            ClassicEditor.create(document.querySelector('#Reditor'))
                .then((editor) => {
                    Reditor = editor;
                    console.log(editor);
                })
                .catch((error) => {
                    console.error(error);
                });

            ClassicEditor.create(document.querySelector('#Aeditor'))
                .then((editor) => {
                    Aeditor = editor;
                    console.log(editor);
                })
                .catch((error) => {
                    console.error(error);
                });
            const check = (data) => {
                return data == '' || data == null || data == undefined;
            };
            const showAlert = (msg) => {
                $('#alert').show();
                $('#alert').html(msg);
                window.scrollTo(0, 0);
            };

            $('#form-submit').click((e) => {
                e.preventDefault();
                const title = $('#title').val();
                const description = bdeditor.getData();
                const contactPerson = $('#contactPerson').val();
                const collabScope = $('#collabScope').val();
                const collaboration = $('#collaboration').val();
                const financialSupport = $('#financialSupport').val();
                const newsAndPub = $('#newsAndPub').val();
                const researchStage = $('#researchStageID').val();
                const File = $('#repPhotoID');
                if (check(title)) {
                    showAlert('Enter the title');
                } else if (check(description)) {
                    showAlert('Enter a brief description');
                } else if (check(contactPerson)) {
                    showAlert('Enter the key contact person');
                } else if (check(collabScope)) {
                    showAlert('Enter the scope of collaboration');
                } else if (check(financialSupport)) {
                    showAlert('Enter the financial support');
                } else if (check(newsAndPub)) {
                    showAlert('Enter news and publication details');
                } else if (check(researchStage)) {
                    showAlert('Enter the stage of the research');
                } else if (!File[0].files.length) {
                    showAlert('Enter the representational photo');
                } else {
                    $('#alert').hide();
                    let file =
                        Date.parse(new Date().toString()) + '-' + File[0].files[0].name;
                    $('#filename').val(file);
                    const data = {
                        title,
                        description,
                        contactPerson,
                        collaboration,
                        collabScope,
                        financialSupport,
                        newsAndPub,
                        researchStage,
                        file,
                    };
                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: '/researches/',
                        data,
                        success: (data) => {
                            if (data.status) {
                                $('#alert-success').show();
                                $('#alert-success').html('Your research is being submitted');
                                window.scrollTo(0, 0);
                                $('#form').submit();
                            } else {
                                showAlert(data.msg);
                            }
                        },
                    });
                }
            });
        });
    </script>

</html>