<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/createResources.css" />
    <title>Create new Resources | Telepsychiatry Research</title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="my-3 divider"></div>
      <div class="createResources">
        <div class="alert alert-danger" id="alert" role="alert"></div>
        <div class="createResources__header">
          <p id="submitResources">Submit new Research</p>
        </div>
        <div class="input_boxes">
          <form id="form" action="/researches/" method="POST">
            <div class="one_box">
              <div class="box_header">
                <p>Title:</p>
              </div>
              <div class="input_box">
                <input
                  type="text"
                  name="title"
                  id="title"
                  placeholder="Title"
                />
              </div>
            </div>

            <div class="one_box">
              <div class="box_header">
                <p>Breif Description:</p>
              </div>
              <div class="input_box">
                <textarea name="BriefDesciption" id="BDeditor"> </textarea>
              </div>
            </div>

            <div class="one_box">
              <div class="box_header">
                <p>Collaboration: (If any)</p>
              </div>
              <div class="input_box">
                <textarea
                  name="collaboration"
                  id="collaboration"
                  cols="30"
                  rows="3"
                ></textarea>
              </div>
            </div>

            <div class="one_box">
              <div class="box_header">
                <p>Financial Support:</p>
              </div>
              <div class="input_box">
                <textarea
                  name="financialSupport"
                  id="financialSupport"
                  cols="30"
                  rows="3"
                ></textarea>
              </div>
            </div>

            <div class="one_box">
              <div class="box_header">
                <p>News and Publications:</p>
              </div>
              <div class="input_box">
                <textarea
                  name="newsAndPub"
                  id="newsAndPub"
                  cols="30"
                  rows="3"
                ></textarea>
              </div>
            </div>

            <div class="one_box">
              <div class="box_header">
                <p>
                  References:
                </p>
              </div>
              <div class="input_box">
                <textarea name="references" id="Reditor"> </textarea>
              </div>
            </div>

            <div class="one_box">
              <div class="box_header">
                <p>Representational Photo</p>
              </div>
              <div class="input_box">
                <input type="file" name="repPhoto" id="repPhotoID" />
              </div>
            </div>

            <div class="one_box">
              <div class="box_header">
                <p>Research Stage</p>
              </div>
              <div class="input_box slct_picker">
                <div class="form-selectpicker">
                  <select
                    id="researchStageID"
                    class="selectpicker researchStage-selector"
                    data-width="100%"
                    title="Select research stage"
                    data-size="6"
                    name="researchStage"
                  >
                    <option value="On going">On going</option>
                    <option value="Completed">Completed</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="createResources__submit">
              <button id="form-submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"
  ></script>
  <script>
    $(document).ready(() => {
      console.log('resource ready');
      let bdeditor;
      let Reditor;
      let Aeditor;
      ClassicEditor.create(document.querySelector('#BDeditor'))
        .then((editor) => {
          bdeditor = editor;
          console.log(editor);
        })
        .catch((error) => {
          console.error(error);
        });

      ClassicEditor.create(document.querySelector('#Reditor'))
        .then((editor) => {
          Reditor = editor;
          console.log(editor);
        })
        .catch((error) => {
          console.error(error);
        });

      ClassicEditor.create(document.querySelector('#Aeditor'))
        .then((editor) => {
          Aeditor = editor;
          console.log(editor);
        })
        .catch((error) => {
          console.error(error);
        });

      function isAlphaSpace(str) {
        for (let i = 0; i < str.length; i++) {
          if (
            !(str[i] >= 'A' && str[i] <= 'Z') &&
            !(str[i] >= 'a' && str[i] <= 'z') &&
            str[i] != ' ' &&
            str[i] != ','
          ) {
            return false;
          }
        }
        return true;
      }
      console.log(isAlphaSpace('is ,alpha'));

      $('#form-submit').click((e) => {
        e.preventDefault();
        const title = $('#title').val();
        const conflictOfInterest = $('#conflictOfInterest').val();
        const financialSupport = $('#financialSupport');
        const Acknowlegement = $('#Acknowlegement').val();
        const Description = bdeditor.getData();
        const Authors = Aeditor.getData();
        const References = Reditor.getData();
        let error = false;
        if (title.length < 1) {
          error = true;
          $('#alert').show();
          $('#alert').html('Adjust the length of title');
          window.scrollTo(0, 0);
        } else if (financialSupport < 1) {
          error = true;
          $('#alert').show();
          $('#alert').html('Adjust the length of financial support');
          window.scrollTo(0, 0);
        } else if (conflictOfInterest < 1) {
          error = true;
          $('#alert').show();
          $('#alert').html('Adjust the length of conflict of interest');
          window.scrollTo(0, 0);
        } else if (Acknowlegement < 1) {
          error = true;
          $('#alert').show();
          $('#alert').html('Adjust the length of acknowledgements');
          window.scrollTo(0, 0);
        } else if (Description < 1) {
          error = true;
          $('#alert').show();
          $('#alert').html('Adjust the length of description');
          window.scrollTo(0, 0);
        } else if (References < 1) {
          error = true;
          $('#alert').show();
          $('#alert').html('Adjust the length of references');
          window.scrollTo(0, 0);
        } else if (Authors < 1) {
          error = true;
          $('#alert').show();
          $('#alert').html('Adjust the length of authors');
          window.scrollTo(0, 0);
        }
        if (!error) {
          console.log('submitted');
          $('#form').submit();
        }
      });
    });
  </script>
</html>
