<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/events.css" />
    <title>Forum | Telepsychiatry Research</title>
  </head>
  <body>
    <div>
      <header>
        <nav>
          <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
      </header>

      <section class="events container">
        <div class="events_header text-center">
          <p>Events</p>
        </div>
        <div class="add_event_button">
          <button>Create Event</button>
        </div>
        <% for(let i = 0 ; i < 5; i++) { %>
        <div class="event " data-aos="fade-up" data-aos-duration="1000">
          <div class="flex-parent">
            <div class="flex-child dateFlex">
              <div class="DateMonth">
                <p class="datee">24</p>
                <p class="timee">MAY</p>
              </div>
            </div>

            <div class="flex-child detailsFlex">
              <div class="event_title">
                <p>
                  Breaking the silence: promoting action on aid worker mental
                  health that will be helpful to all.
                </p>
              </div>
              <div class="event_details">
                <p>
                  Humanitarian aid workers are routinely exposed to traumatic
                  events linked to the cause of mental health issues including
                  depression, burnout and anxiety. But increasingly, work stress
                  including extremely heavy workloads, long hours and limited
                  time for self-care are being highlighted as major causes.
                  Among volunteers, mental health issues can be even higher
                  (Dineson, 2018). Often from affected communities, volunteers
                  experience the same loss and grief as those they are working
                  to support but without the same training, support or structure
                  as professional workers.
                </p>
              </div>
              <div class="event_times">
                <p>
                  <i class="fa fa-calendar"> &nbsp; </i> Date: January 18, 2020
                  - January 20, 2020
                </p>
              </div>
              <div class="event_times">
                <p>
                  <i
                    class="fa fa-clock-o"
                    aria-hidden="true"
                    style="font-size: 20px"
                  >
                    &nbsp;</i
                  >Time: 8:00 am - 5:00 pm
                </p>
              </div>
              <div class="event_times">
                <p>
                  <i class="fa fa-map-marker" style="font-size: 20px">
                    &nbsp;</i
                  >
                  Address: University of Dhaka
                </p>
              </div>
            </div>
          </div>
        </div>

        <% } %>
      </section>
    </div>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>

  <script>
    document
      .getElementsByClassName('add_event_button')[0]
      .addEventListener('click', e => {
        window.location = '/events/new';
      });
  </script>
</html>
