<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/vendorsTop %>
    <link rel="stylesheet" href="/css/homepage.css" />
    <title>Homepage | Telepsychiatry Research</title>
  </head>
  <body>
    <% include ./partials/loader %>
    <div class="homepage">
      <div class="headerWrapper">
        <div class="leftRightMargin">
          <% include ./partials/topNavbar %>

          <div class="desc">
            <div class="mediumText">
              <p>Caring for better life</p>
            </div>
            <div class="largeText">
              <p>Dedicated to develop innovative mental health projects</p>
            </div>
            <div class="smallText">
              <p>Promoting mental health awareness</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <% include ./partials/vendorsBottom %>
</html>
