<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/vendorsTop %>
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login | Telepsychiatry Research</title>
  </head>
  <body>
    <% include ./partials/loader %> <% include ./partials/topNavbar %>
    <section class="login">
      <div class="login_wrapper">
        <div class="login_header">
          <h1>Login</h1>
        </div>

        <div class="login_form">
          <div class="inputField">
            <div class="inputField_label">
              <p>Email:</p>
            </div>
            <div class="inputField_textbox">
              <input type="text" name="email" placeholder="Email Address" />
            </div>
          </div>

          <div class="inputField">
            <div class="inputField_label">
              <p>Password:</p>
            </div>
            <div class="inputField_textbox">
              <input type="password" name="password" placeholder="Password" />
              <div class="forgetPassword">
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#FORGET_PASSWORD_MODAL"
                >
                  Forgot your password?
                </a>
              </div>
            </div>
          </div>

          <div class="submit">
            <button class="green-btn">Login</button>
          </div>

          <div class="signup">
            <div class="hr"></div>
            <div class="signup_ask">
              <p>
                Don't have an account?
                <a
                  class="sign_up_href"
                  href="#"
                  data-toggle="modal"
                  data-target="#SELECT_CATEGORY_MODAL"
                  >Register</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="modal fade" id="FORGET_PASSWORD_MODAL">
      <div
        class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Send verification code</h2>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <div class="modal-body">
            <div class="inputField">
              <div class="inputField_label">
                <p>Email:</p>
              </div>
              <div class="inputField_textbox">
                <input type="text" name="email" placeholder="Email Address" />
              </div>
            </div>

            <div class="modal-body-submit submit">
              <button class="green-btn gotoResetPass">Send</button>
            </div>
          </div>

          <div class="modal-footer submit">
            <button type="button" class="red-btn" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="SELECT_CATEGORY_MODAL">
      <div
        class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Select Category</h2>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <div class="modal-body">
            <div class="SELECT_CATEGORY_MODAL_wrapper">
              <div class="form-header">
                <p>Select Role:</p>
              </div>
              <div class="form-selectpicker">
                <select
                  class="selectpicker selectOrganization"
                  data-width="100%"
                  title="Your Role"
                  data-size="6"
                  required
                >
                  <option value="General User">General User</option>
                  <option value="Expert User">Expert User</option>
                  <option value="Organization">Organization</option>
                </select>
              </div>
              <div class="modal-body-submit submit form-submit">
                <button class="green-btn">Create</button>
              </div>
            </div>
          </div>

          <div class="modal-footer submit">
            <button type="button" class="red-btn" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <% include ./partials/vendorsBottom %>
  <script src="/js/login.js"></script>
</html>
