<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/vendorsTop %>
    <link rel="stylesheet" href="/css/register.css" />

    <title>Register | Expert User | Telepsychiatry Research</title>
  </head>

  <body>
    <% include ./partials/loader %> <% include ./partials/topNavbar %>

    <div class="register">
      <section class="register_wrapper">
        <div class="register_header">
          <h1>Expert User</h1>
        </div>

        <div class="flex-parent">
          <div class="flex-child">
            <div class="form-header">
              <p>Full Name:</p>
            </div>
            <div class="form-inputbox">
              <input type="text" name="fullname" placeholder="Full Name" />
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Email Address:</p>
            </div>
            <div class="form-inputbox">
              <input type="email" name="email" placeholder="Email Address" />
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Mobile Number:</p>
            </div>
            <div class="form-inputbox">
              <input
                type="text"
                name="mobilenumber"
                placeholder="Mobile Number"
              />
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>NID Number:</p>
            </div>
            <div class="form-inputbox">
              <input
                type="text"
                name="mobilenumber"
                placeholder="National ID"
              />
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Password:</p>
            </div>
            <div class="form-inputbox">
              <input type="text" name="password" placeholder="Password" />
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Confirm Password:</p>
            </div>
            <div class="form-inputbox">
              <input
                type="text"
                name="confirmpassword"
                placeholder="Confirm Password"
              />
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Job role:</p>
            </div>
            <div class="form-inputbox">
              <input type="text" name="mobilenumber" placeholder="Job Role" />
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Country:</p>
            </div>
            <div class="form-selectpicker">
              <select
                class="selectpicker"
                data-width="100%"
                title="Country"
                data-live-search="true"
                data-size="6"
                required
                ><% for(let i = 0 ; i < country.length; i++) { %>
                <option value="<%=i%>"><%=country[i].name%></option>
                <% } %> <% for(let i = 0 ; i < country.length; i++) { %>
                <option value="<%=i%>"><%=country[i].name%></option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Choose your Degrees:</p>
            </div>
            <div class="form-selectpicker">
              <select
                class="selectpicker"
                data-width="100%"
                title="Select Degrees"
                multiple
                data-selected-text-format="count > 1"
                data-size="6"
                required
              >
                <option value="MBBS">MBBS</option>
                <option value="BDS">BDS</option>
                <option value="BAMS">BAMS</option>
                <option value="BUMS">BUMS</option>
                <option value="BHMS">BHMS</option>
                <option value="MPhil">MPhil</option>
                <option value="MMSc">MMSc</option>
              </select>
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>More Interests:</p>
            </div>
            <div class="form-selectpicker">
              <select
                class="selectpicker"
                data-width="100%"
                title="Select Interests"
                multiple
                data-selected-text-format="count > 1"
                data-size="6"
                required
              >
                <option value="Children and adolescents"
                  >Children and adolescents</option
                >
                <option value="Maternal and neonatal health"
                  >Maternal and neonatal health</option
                >
                <option value="Disability">Disability</option>
                <option value="Families and carers">Families and carers</option>
                <option value="Minority populations"
                  >Minority populations</option
                >
                <option value="Humanitarian and conflict health"
                  >Humanitarian and conflict health</option
                >
                <option
                  value="Non-communicable diseases (e.g. cancer, diabetes, stroke)"
                  >Non-communicable diseases (e.g. cancer, diabetes,
                  stroke)</option
                >
                <option value="Communicable diseases (e.g. HIV/AIDS, TB)"
                  >Communicable diseases (e.g. HIV/AIDS, TB)</option
                >
                <option value="Adults">Adults</option>
                <option value=" Older adults"> Older adults</option>
              </select>
            </div>
          </div>

          <div class="flex-child">
            <div class="form-header">
              <p>Home Address:</p>
            </div>
            <div class="form-inputbox">
              <input
                type="text"
                name="homeaddress"
                placeholder="Home Address"
              />
            </div>
          </div>
        </div>

        <div class="submit-btn">
          <button class="green-btn">Submit</button>
        </div>
      </section>
    </div>
  </body>

  <% include ./partials/vendorsBottom %>

  <script>
    $('.submit-btn').on('click', function() {
      location = '/auth/verify-message';
    });
  </script>
</html>
