<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/vendorsTop %>
    <link rel="stylesheet" href="/css/resources.css" />
    <title>Login | Telepsychiatry Research</title>
  </head>

  <body>
    <% include ./partials/loader %> <% include ./partials/topNavbar %>
    <section class="resources"></section>
  </body>
</html>
