<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/vendorsTop %>
    <link rel="stylesheet" href="/css/singleDiscussion.css" />
    <title>Single Discussion | Telepsychiatry Research</title>
  </head>

  <body>
    <% include ./partials/loader %> <% include ./partials/topNavbar %>
  </body>
  <% include ./partials/vendorsBottom %>
</html>
