<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>

    <link rel="stylesheet" href="/css/admin.css" />
    <title>Research | Admin Panel</title>
  </head>

  <body>
    <section class="adminTest" style="min-height: 100vh; background: #ebebeb;">
      <header>
        <nav>
          <%- include('./partials/adminNavbar')%>
        </nav>
        <div class="blueDivider">
          <div class="smallText">
            <p><a href="#">Admin Panel</a> / Research</p>
          </div>
          <div class="bigText">
            <p>Researche Name</p>
          </div>
        </div>
      </header>
      <div class="twoBigSectionFlex">
        <div class="oneBigFatCat_wrapper">
          <div class="oneBigFatCat">
            <div class="updateBtn text-right">
              <button class="btn btn-success btn-lg px-4">
                Update
              </button>
            </div>
            <div class="contentTitle">
              <p>sakib sakib sakib sakib sakib sakib sakib sakib</p>
            </div>
            <div class="contentDescription">
              <p>
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                sakib sakib sakib sakib sakib sakib sakib
              </p>
            </div>
            <div class="content_box">
              <div class="content_box_header">
                <p>Collaboration</p>
              </div>
              <div class="content_box_details">
                <p>
                  sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                  sakib sakib sakib
                </p>
              </div>
            </div>
            <div class="content_box">
              <div class="content_box_header">
                <p>Financial support and grant</p>
              </div>
              <div class="content_box_details">
                <p>
                  sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                  sakib sakib sakib
                </p>
              </div>
            </div>

            <div class="content_box">
              <div class="content_box_header">
                <p>Scope of Collaboration</p>
              </div>
              <div class="content_box_details">
                <p>
                  sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                  sakib sakib sakib
                </p>
              </div>
            </div>

            <div class="content_box">
              <div class="content_box_header">
                <p>News and Publication</p>
              </div>
              <div class="content_box_details">
                <p>
                  sakib sakib sakib sakib sakib sakib sakib sakib sakib sakib
                  sakib sakib sakib
                </p>
              </div>
            </div>

            <div class="content_box">
              <div class="content_box_header">
                <p>Key Contact Persons</p>
              </div>
              <div class="content_box_details">
                <p>
                  [1] MD. Sakib Khan, General Director Of Balsal, Email:
                  sakibkhan111296@gmail.com, Contact No: 01938929740
                </p>
                <p>
                  [2] MD. Sakib Khan, General Director Of Balsal, Email:
                  sakibkhan111296@gmail.com, Contact No: 01938929740
                </p>
                <p>
                  [3] MD. Sakib Khan, General Director Of Balsal, Email:
                  sakibkhan111296@gmail.com, Contact No: 01938929740
                </p>
              </div>
            </div>

            <div class="content_box">
              <div class="content_box_header">
                <p>Additional Files</p>
              </div>
              <div class="content_box_details">
                <p class="additionalFileName">File Name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
</html>
