<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/specialServices.css" />

    <title>
      Assessment | Innovations | Telepsychiatry Research
    </title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="sp_wrapper">
        <div class="globalBlueDivider">
          <div class="smallText">
            <p><a href="/">Home</a> / Special services</p>
          </div>
          <div class="bigText">
            <p>Our Special Services</p>
          </div>
        </div>
        <div class="allSpecialServices_wrapper">
          <div class="specialHeading">
            <p>Our Special Services</p>
          </div>
          <div class="specialSubHeading">
            <p>
              Click on each services to see more info and timetable
            </p>
          </div>
          <div class="allSpecialServices">
            <!-- 1. -->
            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/Adolescent Care.jpg"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Adolescent Care</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>

            <!-- 2 -->
            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/behavioral-addiction.jpg"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Behavioral Addiction</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <!-- 3 -->
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Cancer.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Cancer</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <!-- 4 -->
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Child Clinic.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Child Clinic</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>

            <!-- 5 -->
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Dementia.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Dementia</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>

            <!-- 6 -->
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Drug.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Drug</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <!-- 7 -->
            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/Eating-Disorders.jpg"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Eating Disorders</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <!-- 8 -->
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Gariatric.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Gariatric</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>

            <!-- 9 -->
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Hormone.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Hormone</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>

            <!-- 10 -->
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Kidney.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Kidney</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <!-- 11 -->
            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/Menstruation and mental health.jpg"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Menstruation</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/Multidisciplinary Clinic.JPG"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Multidisciplinary Clinic</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>
            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Pain Clinic.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Pain Clinic</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>

            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/Postpartum Depression.jpg"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Postpartum Depression</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/Psychosexual Clinic.jpg"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Psychosexual Clinic</p>
                <p><span>Family Medicine</span></p>
              </div>
            </div>

            <div class="eachServices">
              <div class="es_img">
                <img
                  src="/images/Multidisciplinary/Screen Addiction.jpg"
                  alt=""
                />
              </div>
              <div class="es_name">
                <p>Screen Addiction</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>

            <div class="eachServices">
              <div class="es_img">
                <img src="/images/Multidisciplinary/Stroke.jpg" alt="" />
              </div>
              <div class="es_name">
                <p>Stroke</p>
                <p><span>Clinical Treatment</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
</html>
