<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/vendorsTop %>

    <link rel="stylesheet" href="/css/verifyMessage.css" />
    <title>Verification | Telepsychiatry Research</title>
  </head>

  <body>
    <% include ./partials/loader %> <% include ./partials/topNavbar %>

    <div class="messageWrapper">
      <div class="tick_icon">
        <i class="fa fa-check-circle"></i>
      </div>
      <div class="message">
        <p class="big">Thank you for the Registration</p>
        <p class="small">
          We will send you an email after the verification process
        </p>
      </div>
    </div>
  </body>
  <% include ./partials/vendorsBottom %>
</html>
