.header {
  padding-bottom: 18px;
  // margin-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: transparent;

  @media (max-width: 805px) {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  // align-content: center;
  // align-items: center;
  padding-top: 5px;

  margin: 0 auto;

  .logo {
    padding-top: 10px;
    img {
      max-height: 120px;
      cursor: pointer;
    }
  }

  nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;

    @media (min-width: 650px) {
      padding-top: 30px;
      align-items: center;
      padding-right: 0px;
    }

    @media (min-width: 805px) {
      align-items: flex-end;
    }

    ul {
      display: flex;
      flex-direction: row;

      @media (max-width: 650px) {
        flex-direction: column;
      }

      li {
        font-size: 1.2rem;
        padding: 0 25px;
        font-weight: 700;
        background: transparent;
        border-bottom: 1px solid transparent;

        @media (max-width: 650px) {
          flex-direction: column;
          padding: 10px;
          background: #343a40;
          color: white;
          border-bottom: 1px solid white;
          letter-spacing: 1px;
        }

        a {
          position: relative;
          padding: 10px;
          @media (max-width: 650px) {
            color: white;
          }

          &::after {
            content: '';
            position: absolute;
            display: block;
            height: 5px;
            bottom: -1px;
            background: rgb(16, 167, 194);

            @media (max-width: 650px) {
              background: transparent;
            }

            width: 0%;
            transition: width 0.65s;
          }

          &:hover {
            &::after {
              content: '';
              position: absolute;
              display: block;
              height: 5px;
              bottom: -1px;
              background: rgb(16, 167, 194);
              @media (max-width: 650px) {
                background: transparent;
              }

              width: 100%;
            }
          }
        }
      }
    }
  }
}

.headerBars {
  display: none;
  text-align: right;
  margin-bottom: 2px;

  i {
    font-size: 30px;
    padding: 10px 12px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
    background: #343a40;
  }

  @media (max-width: 650px) {
    display: block;
  }
}

.top-nav nav ul.hideContent {
  display: none;
}
