.navbarWrapper {
  margin: auto;
  width: 90%;

  @media (max-width: 1410px) {
    width: 95%;
  }
}

.nav-link,
.navbar-brand {
  cursor: pointer;
}

.nav-item {
  margin: 8px 12px;
  @media (max-width: 1410px) {
    margin: 4px 4px;
  }
}

.nav-link {
  padding: 0px;
}

.nav-link,
.dropdown-content a {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  line-height: 60px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  letter-spacing: 0.5px;
}

.dropdown-content a {
  line-height: 45px;
}
.nav-link:hover,
.dropdown-content a:hover {
  color: #00baff;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 12px;
  left: 0;
  color: #00baff;
  background-color: #00baff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in;
  z-index: 1;
}

.nav-link:hover:after {
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.4s ease-out;
}

.navbar {
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.extraLarge {
  min-width: 350px;
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
