@import '_main';
@import '_navbar';
.bookDoctor {
    padding: 20px 0 50px 0;
    font-family: 'Lato', sans-serif;
    .bookDoctorHeader {
        p {
            font-size: 40px;
            font-weight: 700;
            color: #2a2a2a;
            letter-spacing: 0.5px;
        }
    }
    .bookDoctorHeader__info {
        margin: 12px 40px 25px 5px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        p {
            max-width: 800px;
            color: #626161;
            font-size: 17px;
            letter-spacing: 0.6px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

.card p {
    letter-spacing: 0.3px;
}

p {
    margin-bottom: 8px;
}

.twoButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.twoButtons {
    .bookNow {
        background-color: #0de0fe;
        color: #fff;
    }
}

.twoButtons button,
.bookDoctor__showMore button {
    color: #0de0fe;
    font-size: 17px;
    border: 2px solid #0de0fe;
    text-align: center;
    display: block;
    font-weight: 500;
    padding: 6px;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.twoButtons button:hover,
.bookDoctor__showMore button:hover {
    background-color: #0f8999;
    color: #fff;
}

.bookDoctor__showMore {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.bookDoctor__showMore button {
    padding: 10px 20px;
    background: #06bfd8;
    color: white;
    font-size: 20px;
}

.checked {
    color: #f4c150;
}

.verified {
    color: #28a745;
    margin-left: 3px;
    font-weight: 900;
}

.card {
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 7px rgb(167, 165, 165);
}

.card-img-top {
    max-height: 200px;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.cardName {
    font-size: 17px;
    font-weight: 500;
    color: #2e3842;
}

.cardDegree {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

.ratingCount {
    font-size: 15px;
    font-family: 'Lato';
}

.card-text {
    color: rgb(105, 102, 102);
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.aff,
.college {
    color: rgb(105, 102, 102);
    span {
        color: rgb(61, 60, 60);
    }
}

.college {
    padding-top: 5px;
    padding-bottom: 10px;
}

.searching {
    padding: 0 0 50px 0;
    form {
        display: flex;
        justify-content: center;
    }
    .searchbox {
        width: 45%;
        @media (max-width: 1000px) {
            width: 60%;
        }
        input[type='text'] {
            padding: 9px;
            width: 100%;
        }
    }
    .searchBtn {
        input[type='submit'] {
            padding: 5px 30px;
            font-size: 24px;
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
            background: #13ce66;
        }
    }
}