@import '_main';
@import '_navbar';

.contactUs {
  font-family: 'Merriweather', serif;
  padding: 30px 0 60px 0;

  .container {
    box-shadow: rgba(75, 74, 74, 0.8) 0px 2px 7px,
      inset rgba(117, 115, 115, 0.15) 0px -5px;
    border-radius: 4px;
    .wrapper {
      padding: 30px 0 25px 0;
      width: 87%;

      margin: auto;

      @media (max-width: 1000px) {
        width: 95%;
      }
    }
  }

  .contactUs_header {
    padding-bottom: 15px;

    p {
      font-size: 45px;
      margin-bottom: 8px;
      color: #3b372f;
      letter-spacing: 0.5px;
    }
  }

  .contactUs_form {
    form {
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        padding-bottom: 5px;
        padding-left: 2px;
        letter-spacing: 0.6px;
        margin: 0px;
        color: #363636;
      }

      input[type='text'],
      input[type='email'],
      textarea {
        width: 100%;
        padding: 0.6rem;
        margin: 5px 0px;
        border: 1px solid rgb(168, 163, 163);
        border-radius: 4px;

        &:focus {
          outline: none;
        }
      }
      .flex-parentt {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 0;

        .flex-childd {
          box-sizing: border-box;
          margin-bottom: 0.5rem;
          width: 49%;
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0rem;
          }
          @media (max-width: 900px) {
            margin-right: 0rem;
            width: 100%;
          }
        }
      }
    }
  }
}

.submit {
  width: 100%;
  text-align: center;
  padding: 25px 0;

  button {
    border: none;
    outline: none;

    background: #ef7c00;
    color: #fff;
    padding: 10px 22px;

    font-size: 24px;
    letter-spacing: 0.5px;
    border-radius: 4px;
  }
}
