@import '_main';
@import '_navbar';

.ck-editor__editable {
  min-height: 300px;
}

.wrapper {
  background: #f6f6f2;
  box-sizing: border-box;
}

.createDiscussion {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  color: #3b372f;
  padding: 10px;
  padding-top: 35px;
  font-family: 'Merriweather', serif;
  @media (max-width: 1200px) {
    width: 90%;
  }
  @media (max-width: 900px) {
    width: 98%;
  }

  &__header {
    font-size: 3.2rem;
    border-bottom: 2px solid gray;

    @media (max-width: 900px) {
      font-size: 2.7rem;
    }
  }

  &__form {
    padding: 20px 0;

    .box {
      padding: 5px 0;
      .createDiscussion__el_header {
        p {
          font-size: 1.5rem;
          padding-bottom: 5px;
          font-weight: 500;
          letter-spacing: 0.5px;
          color: black;

          span {
            font-size: 1rem;
            color: #8a5555;
          }
        }
      }
      .createDiscussion__el_box {
        width: 100%;
        input {
          padding: 7px;
          border-radius: 5px;
          outline: none;
          border: none;
          border: 1px solid #bdb9b9;
          width: 100%;
        }
      }
    }
  }
}

.createDiscussion__submit {
  width: 100%;
  text-align: center;
  padding: 25px 0;

  button {
    border: none;
    outline: none;

    background: #ef7c00;
    color: #fff;
    padding: 10px 22px;

    font-size: 24px;
    letter-spacing: 0.5px;
    border-radius: 4px;
  }
}
