.organizationSupport {
  padding: 45px 0 35px 0;
  font-family: 'Lato', sans-serif;

  background: white;
  background-size: cover;
  .organizationHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 2rem;
    line-height: 1.2;

    p {
      text-align: center;
      span {
        color: #00adef;
      }
    }
  }

  .organizations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .org {
      margin: 7px;
      cursor: pointer;
      img {
        max-width: 120px;
        max-height: 120px;
      }

      // border: 1px solid rgba(61, 52, 52, 0.1);
      border-radius: 4px;
      padding: 10px;
      background: #fff;
      // box-shadow: rgba(75, 74, 74, 0.8) 0px 2px 2px;
      // border-bottom: 4px solid rgba(80, 74, 74, 0.1);

      // box-shadow: rgba(75, 74, 74, 0.8) 0px 2px 2px,
      //   inset rgba(117, 115, 115, 0.15) 0px -5px 10px;
    }
  }
}
