@import './_main.scss';
@import './_navbar.scss';

.addInnovations {
  box-shadow: rgba(75, 74, 74, 0.8) 0px 2px 7px,
    inset rgba(117, 115, 115, 0.15) 0px -5px 10px;

  padding: 22px 0px;

  text-align: center;
  border: 1px solid #bdb9b9;
  background: #f6f6f4;

  .innovationsHeading {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
  }

  .submitInnovations {
    padding: 0.7rem;
    button {
      text-decoration: none;
      outline: none;
      border: none;
      color: white;
      border-radius: 40px;
      letter-spacing: 0.3px;
      background-color: #d3368a;
      border: 2px solid #d3368a;
      cursor: pointer;
      padding: 10px 25px;
      font-weight: 700;
      font-family: 'Lato', Helvetica, sans-serif;
      font-size: 20px;
      box-shadow: 0px 0px 7px rgb(167, 165, 165);
    }
  }
}

.searching {
  padding: 0 0 45px 0;

  form {
    display: flex;
    justify-content: center;
  }

  .searchbox {
    width: 30%;
    @media (max-width: 1000px) {
      width: 60%;
    }
    input[type='text'] {
      padding: 9px;
      width: 100%;
    }
  }
  .searchBtn {
    input[type='submit'] {
      padding: 5px 30px;
      font-size: 24px;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      background: #13ce66;
    }
  }
}
