@import '_main';
@import '_navbar';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.header {
    font-family: 'Merriweather', sans-serif;
    font-size: 40px;
    width: 65%;
    text-align: center;
    @media (max-width: 600px) {
        font-size: 25px;
        width: 95%;
    }
    margin: auto;
}

.searching {
    padding: 0 0 15px 0;
    @media (max-width: 600px) {
        margin-bottom: 10px;
    }
    form {
        display: flex;
        justify-content: center;
    }
    .searchbox {
        width: 30%;
        @media (max-width: 600px) {
            width: 60%;
        }
        input[type='text'] {
            padding: 9px;
            width: 100%;
            @media (max-width: 600px) {
                padding: 0px;
            }
        }
    }
    .searchBtn {
        input[type='submit'] {
            padding: 5px 30px;
            font-size: 24px;
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
            background: #13ce66;
            @media (max-width: 600px) {
                padding: 3px;
                font-size: 15px;
            }
        }
    }
}

.sub-header {
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    @media (max-width: 600px) {
        width: 90%;
        font-size: 12px;
    }
    margin: auto;
    font-size: 16px;
    margin-bottom: 50px;
    color: #000;
}

.search-box {
    width: 30%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px;
    @media (max-width: 1200px) {
        width: 60%;
        border-radius: 20px;
    }
    @media (max-width: 600px) {
        width: 90%;
        border-radius: 20px;
    }
    i {
        color: #1c82ca;
        font-size: 22px;
        @media (max-width: 600px) {
            font-size: 15px;
        }
    }
    i:hover {
        color: #1c82ca;
    }
    input {
        width: 90%;
        border: solid 0px #fff;
        height: 40px;
        border-radius: 20px;
        margin-left: 10px;
        @media (max-width: 600px) {
            height: 20px;
        }
    }
    input:focus {
        outline: none;
    }
    @media (max-width: 600px) {
        input::placeholder {
            font-size: 12px;
        }
    }
}

.packages {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
    @media (max-width: 1200px) {
        width: 85%;
    }
    @media (max-width: 600px) {
        width: 95%;
    }
    .each-package {
        box-shadow: 5px;
        width: 70%;
        margin: auto;
        margin-top: 60px;
        @media (max-width: 600px) {
            width: 100%;
        }
        @media (max-width: 1200px) {
            width: 90%;
        }
        .title {
            font-size: 30px;
            color: #1c82ca;
            @media (max-width: 600px) {
                font-size: 20px;
            }
        }
        .about {
            font-family: 'Open Sans', sans-serif;
            @media (max-width: 600px) {
                font-size: 12px;
            }
        }
        .intro {
            font-family: 'Open Sans', sans-serif;
            @media (max-width: 600px) {
                font-size: 12px;
            }
        }
        .list {
            padding: 10px 25px;
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
            @media (max-width: 600px) {
                font-size: 12px;
                padding: 10px 15px;
            }
            i {
                font-size: 16px;
                color: #1c82ca;
                margin-right: 10px;
                transition: transform 0.5s;
                @media (max-width: 600px) {
                    font-size: 14px;
                }
            }
        }
        .list:hover {
            i {
                transform: rotate(360deg);
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            font-family: 'Open Sans', sans-serif;
            .price {
                width: 50%;
                background-color: #eee;
                border-left: solid 2px #1c82ca;
                padding: 5px 15px;
                font-size: 18px;
                transition: 0.5s;
                @media (max-width: 600px) {
                    font-size: 12px;
                }
                span {
                    font-weight: bold;
                }
            }
            .price:hover {
                border-left: solid 5px #1c82ca;
            }
            .two-buttons {
                display: flex;
                width: 22%;
                justify-content: space-around;
                @media (max-width: 600px) {
                    width: 30%;
                }
                .see-more-btn {
                    button {
                        background-color: #fff;
                        border: 1px solid #13ce66;
                        font-size: 18px;
                        padding: 7px 20px;
                        border-radius: 3px;
                        color: #13ce66;
                        transition: 0.8s;
                        @media (max-width: 1200px) {
                            font-size: 15px;
                            padding: 3px 5px;
                        }
                        @media (max-width: 600px) {
                            font-size: 12px;
                            padding: 3px 5px;
                        }
                    }
                    button:hover {
                        color: #fff;
                        background-color: #13ce66;
                        transform: scale(1.1);
                    }
                }
                .buy-btn {
                    button {
                        background-color: #fff;
                        border: 1px solid #1c82ca;
                        font-size: 18px;
                        padding: 7px 20px;
                        border-radius: 3px;
                        color: #1c82ca;
                        transition: 0.8s;
                        @media (max-width: 1200px) {
                            font-size: 15px;
                            padding: 3px 5px;
                        }
                        @media (max-width: 600px) {
                            font-size: 12px;
                            padding: 3px 10px;
                        }
                    }
                    button:hover {
                        color: #fff;
                        background-color: #1c82ca;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}