@import '_main';

// ****************** TOP NAV (START) (EXTRA CSS) *************************

.top-nav {
  width: 88%;
  @media (max-width: 805px) {
    width: 98%;
  }
}
// ****************** TOP NAV (END) ***************************************

.wrapper {
  background: #f6f6f2;
  box-sizing: border-box;
}
.singleDiscussion {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  color: #3b372f;
  padding: 10px;
  padding-top: 35px;
  font-family: 'Merriweather', serif;
  @media (max-width: 1200px) {
    width: 90%;
  }
  @media (max-width: 900px) {
    width: 98%;
  }
  .singleDiscussion__info {
    border-bottom: 1px solid #585143;
    padding-bottom: 10px;
    width: 95%;
    margin: auto;
    .singleDiscussion__title {
      p {
        font-size: 2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: justify;
        font-weight: 700;
      }
    }
    .singleDiscussion__nameTime {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      font-size: 16px;
      color: #585143;
      .singleDiscussion__name {
        p {
          i {
            color: #3b372f;
            font-size: 20px;
          }
        }
      }
      .singleDiscussion__time {
        p {
        }
      }
    }
    .singleDiscussion__follow {
      text-align: right;
      padding: 0 0 10px 0;

      button {
        text-decoration: none;
        outline: none;
        border: none;
        color: white;
        border-radius: 10px;
        background-color: #d3368a;
        border: 2px solid #d3368a;
        cursor: pointer;
        padding: 5px 22px;
        font-weight: 700;
        font-family: 'Lato', Helvetica, sans-serif;
        font-size: 20px;
      }
    }
    .singleDiscussion__desc {
      padding-top: 15px;

      p {
        font-size: 1.2rem;
        text-align: justify;
      }
    }

    .singleDiscussion__react_love {
      padding-top: 20px;
      p {
        font-size: 20px;
        i {
          font-size: 30px;
          color: white;
          text-shadow: 0 0 2px #000;
          cursor: pointer;
          text-shadow: 0 0 4px #000;
          transition: color 0.2s linear;

          &:hover {
            color: rgb(246, 89, 68);
          }
        }
      }
    }
  }
}
