@import '_main';
@import '_navbar';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.content-wrapper {
    padding: 50px 0px;
}

.first-row {
    display: flex;
    width: 55%;
    @media (max-width: 1200px) {
        width: 85%;
    }
    @media (max-width: 600px) {
        width: 90%;
    }
    margin: auto;
    .middle-section {
        // margin-left: 7.5%;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        padding: 0px 40px;
        @media (max-width: 600px) {
            padding: 0px 0px;
        }
        color: rgb(77,
        75,
        75);
        .title {
            p {
                text-align: center;
            }
            color: #000;
            font-size: 40px;
            font-weight: bold;
        }
        .description {
            // color: gray;
            font-size: 18px;
            @media (max-width: 1200px) {
                font-size: 16.5px;
            }
            @media (max-width: 600px) {
                font-size: 15px;
            }
        }
        .price {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            background-color: #eee;
            padding: 5px 10px;
            border-left: solid 2px blue;
            @media (max-width: 1200px) {
                font-size: 16.5px;
            }
            @media (max-width: 600px) {
                font-size: 15px;
            }
        }
        .service-list {
            .section-header {
                display: flex;
                justify-content: space-between;
                font-size: 25px;
                button {
                    @media (max-width: 600px) {
                        visibility: hidden;
                    }
                    background-color: #fff;
                    border: 1px solid #1c82ca;
                    font-size: 18px;
                    padding: 3px 40px;
                    border-radius: 3px;
                    color: #1c82ca;
                    transition: 0.8s;
                    @media (max-width: 1200px) {
                        font-size: 15px;
                        padding: 0x 0px;
                    }
                    @media (max-width: 600px) {
                        font-size: 12px;
                        padding: 3px 10px;
                    }
                }
                button:hover {
                    color: #fff;
                    background-color: #1c82ca;
                    transform: scale(1.1);
                }
                @media (max-width: 600px) {
                    font-size: 18px;
                }
                hr {
                    background-color: blue;
                    width: 10%;
                    border: 1px solid blue;
                }
            }
            padding-left: 25px;
            margin-top: 40px;
            font-size: 18px;
            @media (max-width: 600px) {
                font-size: 15px;
                padding-left: 0px;
            }
            i {
                color: rgb(80, 114, 189);
                padding: 0px 5px;
            }
        }
    }
}

.mobile-buy-btn {
    visibility: hidden;
    @media (max-width: 600px) {
        visibility: visible;
    }
    button {
        background-color: #fff;
        border: 1px solid #1c82ca;
        font-size: 18px;
        padding: 7px 20px;
        border-radius: 3px;
        color: #1c82ca;
        transition: 0.8s;
        @media (max-width: 1200px) {
            font-size: 15px;
            padding: 3px 5px;
        }
        @media (max-width: 600px) {
            font-size: 12px;
            padding: 3px 10px;
        }
    }
    button:hover {
        color: #fff;
        background-color: #1c82ca;
        transform: scale(1.1);
    }
}