@import '_main';
@import '_navbar';

.wrapper {
  background: #f6f6f2;
  box-sizing: border-box;
}
.singleDiscussion {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  color: #3b372f;
  padding: 10px;
  padding-top: 35px;
  font-family: 'Merriweather', serif;
  @media (max-width: 1200px) {
    width: 90%;
  }
  @media (max-width: 900px) {
    width: 98%;
  }
  .singleDiscussion__info {
    border-bottom: 1px solid #585143;
    padding-bottom: 10px;
    margin: auto;
    .singleDiscussion__title {
      p {
        font-size: 2rem;
        text-align: justify;
        font-weight: 700;
      }
    }
    .singleDiscussion__nameTime {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;
      font-size: 16px;
      color: #585143;
      .singleDiscussion__name {
        p {
          cursor: pointer;

          i {
            color: #3b372f;
            font-size: 20px;
          }
        }
      }
    }
    .singleDiscussion__follow {
      text-align: right;
      padding: 0 0 10px 0;

      button {
        text-decoration: none;
        outline: none;
        border: none;
        color: white;
        border-radius: 10px;
        background-color: #d3368a;
        border: 2px solid #d3368a;
        cursor: pointer;
        padding: 5px 22px;
        font-weight: 700;
        font-family: 'Lato', Helvetica, sans-serif;
        font-size: 20px;
      }
    }
    .singleDiscussion__desc {
      padding-top: 15px;

      p {
        font-size: 1.2rem;
        text-align: justify;
      }
    }

    .singleDiscussion__react_love {
      padding-top: 20px;
      padding-left: 10px;
      padding-bottom: 10px;
      p {
        font-size: 20px;
        i {
          font-size: 30px;
          color: white;
          text-shadow: 0 0 2px #000;
          cursor: pointer;
          text-shadow: 0 0 4px #000;
          transition: color 0.2s linear;

          &:hover {
            color: rgb(246, 89, 68);
          }
        }
      }
    }
  }
}

.singleDescription_comments {
  padding: 25px 0;
  .giveComment {
    display: flex;
    .giveComment__image {
      padding-right: 20px;
      img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
      }
    }
    .giveComment__SendComment {
      width: 90%;

      .sendComment__textarea {
        textarea {
          border-radius: 2px;
          border: 1px solid gray;
          width: 100%;
        }
      }
      .sendComment__buttons {
        text-align: right;
        padding-top: 10px;
        .postCommentBtn {
          padding: 10px 15px;
          font-size: 20px;
          border: none;
          outline: none;
          color: white;
          cursor: pointer;
          border-radius: 4px;
          background: #11ac56;
        }
        .cancelCommentBtn {
          border-radius: 4px;
          border: none;
          outline: none;
          border: none;
          padding: 10px 15px;
          font-size: 20px;
          cursor: pointer;
          background: #dfebe4;
          border: 1px solid #b3beb8;
          color: #3b372f;
        }
      }
    }
  }
}
.allComments {
  padding-top: 5px;

  .eachComment,
  .eachComment_reply {
    padding: 20px 0;
    display: flex;

    .user_image {
      padding-right: 20px;

      img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .user_comment_info {
      .user_name {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 5px;

        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
      .commentbody {
        font-size: 17px;
        color: #585143;
      }
      .like_reply_time {
        display: flex;
        padding-top: 5px;

        > div {
          padding-right: 15px;
        }

        .like {
          color: #2d68c8;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
        .reply {
          color: #2e6ccf;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
        .time {
          color: gray;
        }
      }
    }
  }
  .eachComment_reply {
    padding-left: 8%;
  }
}
