@import '_main';
@import '_navbar';

body {
  font-family: 'Open Sans', sans-serif;
}
.assessment_wrapper {
  background: #ebebeb;
  min-height: 100vh;
}
.blueDivider {
  padding: 13px 0 10px 0;
  padding-left: 20px;
  background-color: #15558d;
  font-family: 'Poppins', sans-serif;
  p {
    a {
      color: white;
      // cursor pointer not working
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .smallText {
    margin: auto;
    width: 90%;
    @media (max-width: 1410px) {
      width: 97%;
    }
    padding-bottom: 3px;
    p {
      font-size: 13px;
    }
  }
  .bigText {
    margin: auto;
    width: 90%;

    @media (max-width: 1410px) {
      width: 97%;
    }
    padding-bottom: 3px;

    p {
      font-size: 22px;
      font-weight: 700;
      @media (max-width: 550px) {
        font-size: 18px;
      }
    }
  }
  p {
    margin-bottom: 0px;
    color: white;
  }
}
.twoBigSectionFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;

  @media (max-width: 1320px) {
    width: 98%;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
  }
  margin: 30px auto 0 auto;

  .eachBigSection {
    background: white;
    border-radius: 5px;

    &:first-child {
      width: 25%;
      padding: 20px 25px;
      margin-bottom: 15px;

      @media (max-width: 1100px) {
        width: 100%;
      }
      .ageRange {
        padding-top: 10px;
        padding-bottom: 20px;
        .ageRangeHeading {
          p {
            font-family: 'Libre Franklin', sans-serif;
            font-size: 20px;
            padding-bottom: 7px;
            margin-bottom: 0px;
            font-weight: 700;
          }
        }
        .ageRangeOptions {
          .custom-control {
            padding-bottom: 5px;
            color: rgb(68, 67, 67);
            input {
            }
            label {
            }
          }
        }
      }

      .nav-tests {
        a {
          cursor: pointer;
          &:hover {
            font-weight: 700;
            text-decoration: underline;
          }
        }
        padding-top: 0px;
        .nav-test-heading {
          p {
            font-family: 'Libre Franklin', sans-serif;
            font-size: 20px;
            padding-bottom: 7px;
            margin-bottom: 0px;
            font-weight: 700;
          }
        }
        .nav-test-all {
          padding: 5px;
          padding-right: 20px;
          padding-left: 25px;

          ul {
            li {
              list-style-type: disc;
              line-height: 1.8;
              a {
              }
            }
          }
        }
      }
    }

    &:last-child {
      width: 73%;
      @media (max-width: 1100px) {
        width: 100%;
      }
      padding: 20px 50px;
      margin-bottom: 15px;
      .main-Heading {
        text-align: center;
        padding-bottom: 10px;
        font-weight: 500;
        p {
          font-size: 2.5rem;
        }
      }
      .someWritings {
        width: 97%;
        margin: auto;
        padding-bottom: 30px;
        font-size: 17px;
        p {
          text-align: justify;
          line-height: 1.7;
          font-size: 18px;
          span {
            font-size: 19px;
            font-weight: 700;
            font-size: 18px;
          }
        }
      }
      .quiz_wrapper {
        width: 75%;
        @media (max-width: 1450px) {
          width: 95%;
        }
        margin: auto;
        display: flex;
        flex-direction: row;
        @media (max-width: 950px) {
          width: 95%;
          flex-direction: column;
        }
        margin-bottom: 40px;
        .quizPic {
          width: 50%;
          @media (max-width: 950px) {
            width: 95%;
          }
          margin: 10px;
          img {
            width: 100%;
          }
        }
        .quizInvite {
          margin: 20px;
          width: 50%;
          @media (max-width: 950px) {
            width: 95%;
          }
          align-self: center;
          .quizWritting {
            padding-left: 20px;
            padding-bottom: 10px;
            p {
              font-size: 20px;
              font-weight: 500;
              text-align: justify;
              @media (max-width: 1450px) {
                font-size: 17.5px;
                font-weight: 700;
              }
              @media (max-width: 950px) {
                padding-top: 20px;
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
          .quizBtn {
            width: 70%;
            margin: auto;
            button {
              font-weight: 700;
              border: 2px solid #20c0f3;
              border-radius: 4px;
              display: block;
              font-size: 18px;
              letter-spacing: 1px;
              padding: 10px 20px;
              text-align: center;
              text-transform: uppercase;
              width: 100%;
              background-color: #20c0f3;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.mentalHealthTestDesc {
  width: 97%;
  margin: auto;
  margin-bottom: 30px;
  .mentalHealthTestDescHeading {
    color: #1c82ca;
    font-family: 'Roboto';
    p {
      font-size: 26px;
      font-weight: 700;
    }

    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .littleDesc {
    text-align: justify;
    p {
      font-size: 18px;
      line-height: 1.7;
    }
  }
}

.oneBigFatCat_wrapper {
  background: white;
  border-radius: 5px;
  margin: 0px auto;
  width: 90%;
  margin-bottom: 30px;
}

.oneBigFatCat {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  @media (max-width: 1500px) {
    width: 95%;
  }
  @media (max-width: 1200px) {
    width: 98%;
  }

  .main-Heading {
    text-align: Center;
    padding-bottom: 10px;
    font-weight: 300;
    p {
      font-size: 2rem;
    }
  }
}

.specialServiceSubsection {
  width: 97%;
  margin: auto;
  margin-bottom: 30px;
  // background-color: beige;
  .subsection-Heading {
    color: #1c82ca;
    font-family: 'Roboto';
    p {
      font-size: 26px;
      font-weight: 700;
    }

    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .subsection-Body {
    text-align: justify;
    background-color: blue($color: #000000);
    .subsection-Body-elm {
      padding: 10px;

      .subsection-Heading-elm {
        color: #1c82ca;
        font-family: 'Roboto';
        p {
          font-size: 20px;
          font-weight: 700;
        }

        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.flx_prnt {
  flex: 1;
  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-between;
  }
  .flx_chld {
    padding: 10px;
    flex: 1;
    iframe {
      width: calc(100% - 20px);
      height: calc((20vw - 20px) * 1);

      @media (max-width: 1000px) {
        height: 400px;
      }

      @media (max-width: 600px) {
        height: 300px;
      }
      @media (max-width: 500px) {
        height: 300px;
      }
    }
  }
}
.specialServiceDoctors {
  margin: auto;
  @media (min-width: 1100px) {
    display: flex;
    flex-wrap: wrap;
  }

  .eachDoctor {
    width: 24%;
    height: 300px;
    margin: 4px;
    border: 1px solid #e0e0e0;
    padding: 5px;

    box-shadow: 0px 0px 3px rgb(189, 187, 187);
    @media (max-width: 1000px) {
      width: calc(60% - 0px);
      height: calc((60vw - 20px) * 1);
    }
    @media (max-width: 600px) {
      width: calc(100% - 20px);
      height: calc((100vw - 20px) * 1);
    }

    .es_img {
      height: 77%;
      overflow: hidden;
      position: relative;
      background: rgb(194, 191, 191);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .es_name {
      padding-top: 5px;
      padding-left: 5px;
      p {
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #332323;
        span {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #00adef;
        }
      }
    }
  }
}
.btn-container {
  display: flex;
  padding: 5px;
  .btn-children {
    margin: auto;
  }
}

.flx-chld-feeds {
  padding: 10px;
  max-width: 100%;
  min-height: 300px;
  background-color: #e9ecef;
  border-style: solid;
  border-color: rgb(79, 105, 105);
  border-width: 0px;
  border-left-width: 5px;
  .single-feedback {
    min-height: 300px;
    text-align: center;
    iframe {
      width: 200px;
      height: 150px;
    }

    .txt-cmnt {
      width: 100%;
      font-style: italic;
      color: rgb(49, 24, 24);
      .cmnt-user {
        margin-right: 3px;
        text-align: right;
      }
    }
  }
}

.flx_super_prnt {
  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-between;
  }
  .specialServiceSubsection {
    flex: 3;
  }
  .flx-chld-feeds {
    background-color: #fff;
    border: none;
    flex: 1;
    .feedback-Heading {
      color: #026fa5;
      font-family: 'Roboto';
      p {
        font-size: 26px;
        font-weight: 700;
      }

      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.comment-box {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 210px;
  padding: 10px;
  textarea {
    width: 100%;
    height: 150px;
    border: none;
  }
  textarea:focus {
    outline: none;
  }
  p {
    display: flex;
    justify-content: space-between;
  }
}

// Modal styles
.modal {
  .parts {
    .each-part {
      padding: 10px 5px;
      transition: 0.5s;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      .user {
        font-size: 13.5px;
        color: gray;
      }
      button {
        font-size: 12px;
      }
    }
    .each-part:hover {
      background-color: #eee;
    }
  }
}
