@import '_main';
@import '_navbar';

body {
  font-family: 'Open Sans', sans-serif;
}
.assessment_wrapper {
  background: #ebebeb;
  min-height: 100vh;
}
.blueDivider {
  padding: 13px 0 10px 0;
  padding-left: 20px;
  background-color: #15558d;
  font-family: 'Poppins', sans-serif;
  p {
    a {
      color: white;
      // cursor pointer not working
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .smallText {
    margin: auto;
    width: 90%;
    @media (max-width: 1410px) {
      width: 97%;
    }
    padding-bottom: 3px;
    p {
      font-size: 13px;
    }
  }
  .bigText {
    margin: auto;
    width: 90%;

    @media (max-width: 1410px) {
      width: 97%;
    }
    padding-bottom: 3px;

    p {
      font-size: 22px;
      font-weight: 700;
      @media (max-width: 550px) {
        font-size: 18px;
      }
    }
  }
  p {
    margin-bottom: 0px;
    color: white;
  }
}
.twoBigSectionFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;

  @media (max-width: 1320px) {
    width: 98%;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
  }
  margin: 30px auto 0 auto;

  .eachBigSection {
    background: white;
    border-radius: 5px;

    &:first-child {
      width: 25%;
      padding: 20px 25px;
      margin-bottom: 15px;

      @media (max-width: 1100px) {
        width: 100%;
      }
      .ageRange {
        padding-top: 10px;
        padding-bottom: 20px;
        .ageRangeHeading {
          p {
            font-family: 'Libre Franklin', sans-serif;
            font-size: 20px;
            padding-bottom: 7px;
            margin-bottom: 0px;
            font-weight: 700;
          }
        }
        .ageRangeOptions {
          .custom-control {
            padding-bottom: 5px;
            color: rgb(68, 67, 67);
            input {
            }
            label {
            }
          }
        }
      }

      .nav-tests {
        a {
          cursor: pointer;
          &:hover {
            font-weight: 700;
            text-decoration: underline;
          }
        }
        padding-top: 0px;
        .nav-test-heading {
          p {
            font-family: 'Libre Franklin', sans-serif;
            font-size: 20px;
            padding-bottom: 7px;
            margin-bottom: 0px;
            font-weight: 700;
          }
        }
        .nav-test-all {
          padding: 5px;
          padding-right: 20px;
          padding-left: 25px;

          ul {
            li {
              list-style-type: disc;
              line-height: 1.8;
              a {
              }
            }
          }
        }
      }
    }

    &:last-child {
      width: 73%;
      @media (max-width: 1100px) {
        width: 100%;
      }
      padding: 20px 50px;
      margin-bottom: 15px;
      .main-Heading {
        text-align: center;
        padding-bottom: 10px;
        font-weight: 500;
        p {
          font-size: 2.5rem;
        }
      }
      .someWritings {
        width: 97%;
        margin: auto;
        padding-bottom: 30px;
        font-size: 17px;
        p {
          text-align: justify;
          line-height: 1.7;
          font-size: 18px;
          span {
            font-size: 19px;
            font-weight: 700;
            font-size: 18px;
          }
        }
      }
      .quiz_wrapper {
        width: 75%;
        @media (max-width: 1450px) {
          width: 95%;
        }
        margin: auto;
        display: flex;
        flex-direction: row;
        @media (max-width: 950px) {
          width: 95%;
          flex-direction: column;
        }
        margin-bottom: 40px;
        .quizPic {
          width: 50%;
          @media (max-width: 950px) {
            width: 95%;
          }
          margin: 10px;
          img {
            width: 100%;
          }
        }
        .quizInvite {
          margin: 20px;
          width: 50%;
          @media (max-width: 950px) {
            width: 95%;
          }
          align-self: center;
          .quizWritting {
            padding-left: 20px;
            padding-bottom: 10px;
            p {
              font-size: 20px;
              font-weight: 500;
              text-align: justify;
              @media (max-width: 1450px) {
                font-size: 17.5px;
                font-weight: 700;
              }
              @media (max-width: 950px) {
                padding-top: 20px;
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
          .quizBtn {
            width: 70%;
            margin: auto;
            button {
              font-weight: 700;
              border: 2px solid #20c0f3;
              border-radius: 4px;
              display: block;
              font-size: 18px;
              letter-spacing: 1px;
              padding: 10px 20px;
              text-align: center;
              text-transform: uppercase;
              width: 100%;
              background-color: #20c0f3;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.mentalHealthTestDesc {
  width: 97%;
  margin: auto;
  margin-bottom: 30px;
  .mentalHealthTestDescHeading {
    color: #1c82ca;
    font-family: 'Roboto';
    p {
      font-size: 26px;
      font-weight: 700;
    }

    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .littleDesc {
    text-align: justify;
    p {
      font-size: 18px;
      line-height: 1.7;
    }
  }
}

.oneBigFatCat_wrapper {
  background: white;
  border-radius: 5px;
  margin: 0px auto;
  width: 80%;
  margin-bottom: 30px;
}

.oneBigFatCat {
  width: 85%;
  margin: 10px auto;
  padding: 10px;
  @media (max-width: 1500px) {
    width: 90%;
  }
  @media (max-width: 1200px) {
    width: 98%;
  }

  .main-Heading {
    text-align: Center;
    padding-bottom: 10px;
    font-weight: 300;
    p {
      font-size: 2rem;
    }
  }
}

.specialServiceSubsection {
  width: 97%;
  margin: auto;
  margin-bottom: 30px;
  .subsection-Heading {
    color: #1c82ca;
    font-family: 'Roboto';
    p {
      font-size: 26px;
      font-weight: 700;
    }

    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .subsection-Body {
    text-align: justify;
    p {
      font-size: 18px;
      line-height: 1.7;
    }
  }
}

.specialServiceDoctors {
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .eachDoctor {
    width: 24%;
    height: 300px;
    margin: 4px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    box-shadow: 0px 0px 3px rgb(189, 187, 187);

    .es_img {
      height: 77%;
      overflow: hidden;
      position: relative;
      background: rgb(194, 191, 191);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .es_name {
      padding-top: 5px;
      padding-left: 5px;
      p {
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #332323;
        span {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #00adef;
        }
      }
    }
  }
}
