@import '_main';
@import '_navbar';

// niche margin deya baki..

body {
  font-family: 'Libre Franklin', sans-serif;
}
.sp_wrapper {
  background: #ebebeb;
  min-height: 100vh;
}
.globalBlueDivider {
  padding: 13px 0 10px 0;
  padding-left: 20px;
  background-color: #15558d;
  font-family: 'Poppins', sans-serif;
  p {
    a {
      color: white;
      // cursor pointer not working
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .smallText {
    margin: auto;
    width: 90%;
    @media (max-width: 1410px) {
      width: 97%;
    }
    padding-bottom: 3px;
    p {
      font-size: 13px;
    }
  }
  .bigText {
    margin: auto;
    width: 90%;

    @media (max-width: 1410px) {
      width: 97%;
    }
    padding-bottom: 3px;

    p {
      font-size: 22.5px;
      font-weight: 700;
      @media (max-width: 550px) {
        font-size: 18px;
      }
    }
  }
  p {
    margin-bottom: 0px;
    color: white;
  }
}

.allSpecialServices_wrapper {
  background: white;
  width: 96%;
  margin: 25px auto 20px auto;
  border-radius: 5px;
  padding: 10px;
  .specialHeading {
    text-align: center;
    padding-bottom: 2px;
    padding-top: 20px;
    color: #2f337e;

    font-weight: 600;
    p {
      font-size: 42px;
    }
  }
  .specialSubHeading {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: 400;
    color: #2f337e;
    font-family: 'Scope One', serif;

    p {
      max-width: 800px;
      font-size: 22px;
    }
  }
  .add-new-btn {
    p {
      text-align: right;
      width: 95%;
      margin: auto;
      button {
        padding: 10px 15px;
        background-color: lightblue;
        color: #fff;
        border: none;
      }
    }
  }
  .allSpecialServices {
    width: 80%;
    @media (max-width: 1500px) {
      width: 90%;
    }
    @media (max-width: 1300px) {
      width: 98%;
    }
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    .eachServices {
      width: 23%;
      @media (max-width: 1100px) {
        width: 30%;
      }
      @media (max-width: 850px) {
        width: 45%;
      }

      @media (max-width: 650px) {
        width: 80%;
      }
      @media (max-width: 500px) {
        width: 96%;
      }
      height: 380px;
      // padding: 5px;
      margin: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 5px;
      .es_img {
        height: 77%;
        overflow: hidden;
        position: relative;
        background: rgb(194, 191, 191);
        img {
          width: 100%;
          height: 100%;
          transition: transform 0.5s;
          &:hover {
            transform: scale(1.15);
          }
        }
        &:after {
          position: absolute;
          content: 'zz';
          display: block;
          background: black;
          height: 2px;
          width: 50%;
        }
      }
      .es_name {
        padding-top: 15px;
        padding-left: 26.5px;
        p {
          margin-bottom: 0px;
          font-weight: 500;
          font-size: 19px;
          font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
          &:first-child {
            font-weight: 600;
            color: #2f337e;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          span {
            font-size: 15px;
            color: #3f44a3;
            padding-left: 1px;
          }
        }
      }
    }
  }
}

.con-wrapper {
  width: 65%;
  margin: 50px auto;
  table {
    width: 100%;
    background-color: #ddd;
    th {
      background-color: #333;
      color: #fff;
      padding: 10px;
    }
    td {
      padding: 15px;
      border-bottom: 1px solid #ccc;
    }
    button {
      background-color: green;
      color: #fff;
      padding: 5px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
    }
  }
}
